/**
 * flownews Theme
 *
 * Theme by: AD-Theme
 * Our portfolio: http://themeforest.net/user/ad-theme/portfolio
 *
 */ 
 
.flownews-metabox-item {
	 display:block;
	 margin:20px;
}
#flownews-metabox h2 {
	 font-size:25px;
	 text-align:left;
	 margin-left:20px;
	 padding-left:0;
}
#blog-query {
	 border:1px solid #f0f0f0;
}
#flownews_layout, #flownews_top_content {
    border: 25px solid rgba(96, 141, 162, 0.4);
	margin-bottom:0;
}
#flownews_layout h2, #flownews_top_content h2 {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
	color: #333;
	padding: 8px 25px;
    text-transform: uppercase;
}
#flownews_layout.postbox .handlediv, #flownews_top_content.postbox .handlediv {
    color: #333;
    float: right;
    height: 46px;
    padding: 0;
    width: 60px;
}
#flownews_layout.postbox .inside, #flownews_layout.postbox .stuffbox .inside, #flownews_top_content.postbox .inside, #flownews_top_content.postbox .stuffbox .inside {
    padding: 0 25px;
}
#flownews_layout.postbox .flownews-metabox-item, #flownews_top_content.postbox .flownews-metabox-item {
    background: #f9f9f9;
    display: block;
    margin: 25px 0;
    padding: 25px;
}
#flownews_layout.postbox #blog-query .flownews-metabox-item {
	border: 1px solid #f4f4f4;
    padding: 25px;
}
#flownews_layout.postbox #blog-query .flownews-metabox-item:last-child {
	margin-bottom:0;
}
#flownews_layout.postbox #blog-query {
	padding:25px;
}
#flownews_top_content.postbox #blog-query {
	padding:25px;
	margin-bottom:25px;
}
#flownews_layout.postbox #blog-query h2 {
    font-size: 20px;
    padding:0;
	margin:0;
}
#flownews_layout.postbox .flownews-description {
    display: block;
    margin-top: 10px;
}
#flownews-top-content #blog-query h2 {
	font-size:23px;
	padding:0;
	line-height:1;
}
#flownews_top_content.postbox #blog-query .flownews-metabox-item:last-child {
	margin-bottom:0;
}

.flownews-metabox-item > label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#flownews-sidebar select {
	margin-bottom:40px;
}
#flownews-sidebar select:last-child {
	margin-bottom:0px;
}