@-webkit-keyframes constantrotation {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		background: #FF0000
	}
	to {
		transform: rotate(36deg);
		-webkit-transform: rotate(36deg);
		-moz-transform: rotate(36deg);
		-ms-transform: rotate(36deg);
		-o-transform: rotate(36deg);
		background: #0000FF
	}
}
@keyframes constantrotation {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		background: #FF0000
	}
	to {
		transform: rotate(36deg);
		-webkit-transform: rotate(36deg);
		-moz-transform: rotate(36deg);
		-ms-transform: rotate(36deg);
		-o-transform: rotate(36deg);
		background: #0000FF
	}
}
html,
body,
.container {
	height: 100%;
}
.menu {
	float: right !important;
}
#masthead {
	background: #A12828;
	position: relative;
	z-index: 90;
}
#masthead #text-title-desc {
	clear: none;
	float: left;
	vertical-align: middle
}
@media screen and (max-width: 768px) {
	#masthead #text-title-desc {
		float: none
	}
}
#masthead h1.site-title {
	font-size: 40px;
	font-weight: 300;
	margin-top: 0px
}
#masthead h1.site-title a {
	color: #FFFFFF
}
#masthead h2.site-description {
	font-weight: 300;
	font-size: 14px;
	margin-top: 10px;
	color: #FFFFFF
}
#masthead #searchicon {
	background: #eee;
	border: solid 2px #ddd;
	padding-top: 6px;
	padding-bottom: 4px
}
@media screen and (max-width: 767px) {
	#masthead {
		text-align: center
	}
	#masthead .layer {
		min-height: 430px
	}
}
#masthead .searchform {
	width: auto;
}
@media screen and (max-width: 767px) {
	#masthead .searchform {
		width: 100%;
		padding-left: 0;
		margin-bottom: 30px;
		margin-top: 25px
	}
}
#masthead .searchform input {
	outline: solid 2px #9a3537;
	background: rgba(255, 255, 255, 0.05);
	font-weight: lighter;
	padding: 5px 10px;
	position: relative;
	top: 1px;
	border-radius: 0px;
	min-width: 290px;
	border: none;
	color: #000000;
	transition: 0.4s background ease;
	-webkit-transition: 0.4s background ease;
	-moz-transition: 0.4s background ease;
	-ms-transition: 0.4s background ease;
	-o-transition: 0.4s background ease
}
#masthead .searchform input::-webkit-input-placeholder {
	color: #000000;
}
#masthead .searchform input:-moz-placeholder {
	color: rgba(255, 255, 255, 0.5)
}
#masthead .searchform input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5)
}
#masthead .searchform input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5)
}
#masthead .searchform input:active,
#masthead .searchform input:focus {
	outline: solid 2px #9a3537;
	background: rgba(255, 255, 255, 0.1)
}
.site-branding {
	margin-top: 10px;
	overflow: hidden;
	display: inline-block;
	float: none;
	text-align: left
}
@media screen and (max-width: 767px) {
	.site-branding {
		text-align: center;
		float: none;
		padding-bottom: 5px
	}
}
#site-logo {
	display: inline-block;
	float: left
}
@media screen and (max-width: 768px) {
	#site-logo {
		float: none
	}
}
#social-search {
	background: #ebebeb;
	padding: 16px 10px;
	text-align: center
}
#social-search .social-icons {
	text-align: center;
	position: relative;
	display: inline-block;
	border-right: solid 1px #ddd;
	-webkit-box-shadow: 1px 0px 0px #f7f7f7;
	box-shadow: 1px 0px 0px #f7f7f7;
	padding-right: 15px
}
#social-search .social-icons a {
	margin-right: 5px;
	text-align: center
}
#social-search .social-icons a img {
	width: 37px;
	height: 37px;
	transition: ease 0.4s;
	-webkit-transition: ease 0.4s;
	-moz-transition: ease 0.4s;
	-ms-transition: ease 0.4s;
	-o-transition: ease 0.4s
}
@media screen and (max-width: 600px) {
	#social-search .social-icons a {
		float: none
	}
}
#social-search .social-icons a:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2)
}
@media screen and (max-width: 767px) {
	#social-search .social-icons {
		border-right: none;
		border-bottom: solid 1px #ddd;
		-webkit-box-shadow: 0px 1px 0px #f7f7f7;
		box-shadow: 0px 1px 0px #f7f7f7;
		padding-right: 0;
		padding-bottom: 15px;
		margin-bottom: 13px
	}
	#social-search .searchform {
		padding-left: 0
	}
	#footer-sidebar .footer-column .widget ul {
		margin-left: 0px;
		text-align: center !important;
	}
	#pSocial {
		text-align: center !important;
	}
	.site-info {
		text-align: center !important;
		padding-left: 0px !important;
	}
}
#jumbosearch {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.84);
	z-index: 99;
	text-align: center;
	display: none
}
#jumbosearch .form {
	margin-top: 20%
}
#jumbosearch .form label {
	width: 80%;
	text-align: center
}
#jumbosearch .form input[type=search] {
	background: none;
	outline: none;
	padding: 20px;
	font-size: 28px;
	border: none;
	border-bottom: solid 1px #ddd;
	border-radius: 0;
	color: #FFFFFF;
	width: 80%;
	text-align: center;
	clear: both
}
#jumbosearch .form input[type=submit] {
	display: none;
	text-transform: uppercase
}
#jumbosearch .closeicon {
	position: absolute;
	right: 30px;
	top: 40px;
	color: #eee;
	font-size: 27px;
	padding: 15px;
	cursor: pointer
}
#site-navigation {
	float: none;
	width: auto;
	clear: none;
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 18px;
	color: #FFFFFF;
}
#site-navigation .nav-container {
	max-width: 100%;
	padding: 0px;
	display: block;
	margin-top: -50px;
}
#site-navigation ul {} #site-navigation ul li {
	float: left
}
#site-navigation ul li a {
	padding: 0 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	background: none;
	transition: 0.2s all ease;
	-webkit-transition: 0.2s all ease;
	-moz-transition: 0.2s all ease;
	-ms-transition: 0.2s all ease;
	-o-transition: 0.2s all ease
}
#site-navigation ul li:hover a {
	color: #FFFFFF
}
#site-navigation ul li ul li .menu-desc {
	display: none
}
#site-navigation ul li ul.children,
#site-navigation ul li ul.sub-menu {
	background: #22333b;
	top: 100%;
	display: block;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	perspective: 1000;
	-webkit-perspective: 1000;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transform-origin: top;
	transform: perspective(350px) rotateX(-10deg);
	-webkit-transform: perspective(350px) rotateX(-10deg);
	-moz-transform: perspective(350px) rotateX(-10deg);
	opacity: 0;
	text-align: left;
	visibility: hidden
}
#site-navigation ul li ul.children a,
#site-navigation ul li ul.sub-menu a {
	color: #fff;
	background: #22333b
}
#site-navigation ul li ul.children li ul,
#site-navigation ul li ul.sub-menu li ul {
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transform-origin: left;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	left: 100%;
	top: 0;
	opacity: 0!important;
	-webkit-transform: rotateY(15deg)!important;
	transform: rotateY(15deg)!important;
	-moz-transform: rotateY(15deg)!important
}
#site-navigation ul li ul.children li ul li ul,
#site-navigation ul li ul.sub-menu li ul li ul {
	display: none!important
}
#site-navigation ul li ul.children li:hover,
#site-navigation ul li ul.sub-menu li:hover {
	transition: 0.2s all ease;
	-webkit-transition: 0.2s all ease;
	-moz-transition: 0.2s all ease;
	-ms-transition: 0.2s all ease;
	-o-transition: 0.2s all ease
}
#site-navigation ul li ul.children li:hover ul,
#site-navigation ul li ul.sub-menu li:hover ul {
	opacity: 1!important;
	transform: rotateY(5deg)!important;
	-webkit-transform: rotateY(5deg)!important;
	-moz-transform: rotateY(5deg)!important
}
#site-navigation ul li ul.children a,
#site-navigation ul li ul.sub-menu a {
	padding: 8px 15px;
	font-weight: lighter;
	font-size: 14px;
	-webkit-transition: 0.4s background ease, 0.6s padding ease;
	-o-transition: 0.4s background ease, 0.6s padding ease;
	transition: 0.4s background ease, 0.6s padding ease
}
#site-navigation ul li ul.children a:hover,
#site-navigation ul li ul.sub-menu a:hover {
	background: #19252b;
	padding-left: 19px
}
#site-navigation ul li:hover {
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease!important
}
#site-navigation ul li:hover ul.children,
#site-navigation ul li:hover ul.sub-menu {
	display: block;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible
}
#site-navigation .fa {
	padding: 0 5px 0 0
}
#site-navigation .menu-desc {
	font-size: 12px;
	font-weight: 300;
	color: #eee;
	display: inline-block;
	margin-top: -5px;
	font-style: italic;
	text-transform: lowercase
}
#site-navigation .current-menu-item>a,
#site-navigation .current_page_ancestor>a,
#site-navigation .current_page_item>a {
	color: #fff
}
@media screen and (max-width: 767px) {
	#site-navigation {
		margin-top: 0;
		float: none;
		text-align: center;
		width: 100%
	}
	#site-navigation .td_mobile_menu_wrap {
		min-height: 42px;
		padding: 20px;
		position: relative;
		min-width: 150px;
		display: inline-block
	}
	#site-navigation .td_mobile_menu_wrap:after {
		content: "\f103";
		font-family: "FontAwesome";
		color: #FFFFFF;
		position: absolute;
		right: 27px;
		top: 23px;
		font-size: 18px
	}
	#site-navigation .mobileMenu {
		padding: 5px 8px;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		color: #FFFFFF;
		min-width: 150px;
		background-image: none;
		-webkit-appearance: none;
		position: relative
	}
	#site-navigation .mobileMenu:focus {
		outline: none
	}
}
#social-icons-fixed {
	position: fixed;
	left: 0;
	top: 30%;
	width: 43px;
	border-right: none;
	border-left: none;
	z-index: 999;
	-webkit-box-shadow: -7px 2px 9px rgba(0, 0, 0, 0.3);
	box-shadow: -7px 2px 9px rgba(0, 0, 0, 0.3)
}
@media screen and (max-width: 600px) {
	#social-icons-fixed {
		width: 32px
	}
}
#social-icons-fixed img {
	margin-bottom: 0px;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9)
}
#social-icons-fixed img:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2)
}
.pagination {
	margin: 20px 0;
	padding-top: 25px;
	text-align: center;
	width: 100%
}
.pagination .page-numbers {
	display: inline-block;
	padding: 5px;
	color: #4d4d4d;
	font-weight: bold;
	font-family: "Fjalla One", sans-serif;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
.pagination .page-numbers:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2)
}
.pagination .current {
	border: solid 2px #a5393b;
	padding: 7px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	margin: 0 5px
}
.pagination .current,
.pagination .dots {
	pointer-events: none
}
#content {} #footer-sidebar {
	background: #000;
	padding-top: 40px
}
#footer-sidebar .footer-column {} #footer-sidebar .footer-column h3.widget-title {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 15px
}
#footer-sidebar .footer-column .widget {
	color: #fff;
	background: #000;
	border-radius: 1px;
	padding: 15px
}
#footer-sidebar .footer-column .widget a {
	color: #fff;
	font-weight: normal;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
}
#footer-sidebar .footer-column .widget a:hover {} #footer-sidebar .footer-column .widget ul {
	margin-left: 0px;
	text-align: right;
}
#footer-sidebar .footer-column .widget ul li {
	list-style: none;
	padding: 5px;
}
#footer-sidebar .footer-column .widget ul li ul {
	margin-left: 5px
}
#footer-sidebar .footer-column .widget ul li li {
	margin-left: 2px;
	border-bottom: none;
	padding: 2px
}
#footer-sidebar .footer-column .widget_tag_cloud .tagcloud a {
	background: #22333b;
	font-size: 14px!important;
	text-transform: uppercase;
	font-weight: lighter;
	color: #f4f4f4;
	padding: 7px 5px;
	margin-bottom: 5px;
	display: inline-block
}
@-webkit-keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}
}
@keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95)
	}
}
#footer-sidebar .footer-column .tagcloud a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: #808080scale
}
#footer-sidebar .footer-column .tagcloud a:active,
#footer-sidebar .footer-column .tagcloud a:focus,
#footer-sidebar .footer-column .tagcloud a:hover {
	-webkit-animation-name: hvr-pulse-grow;
	animation-name: hvr-pulse-grow;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}
#footer-sidebar .footer-column .widget_murray_rp li.rp-item {
	overflow: auto;
	clear: both;
	display: block;
	padding: 8px 0px;
	font-size: 13px
}
#footer-sidebar .footer-column .widget_murray_rp .rp-thumb {
	width: 52px;
	float: left;
	display: inline-block;
	margin-right: 6px
}
#footer-sidebar .footer-column .widget_murray_rp .rp-date {
	color: #354f5b;
	font-size: 11px
}
#footer-sidebar .footer-column .widget_archive ul li:before,
#footer-sidebar .footer-column .widget_categories ul li:before,
#footer-sidebar .footer-column .widget_meta ul li:before,
#footer-sidebar .footer-column .widget_nav_menu ul li:before,
#footer-sidebar .footer-column .widget_pages ul li:before,
#footer-sidebar .footer-column .widget_recent_comments ul li:before,
#footer-sidebar .footer-column .widget_recent_entries ul li:before {
	font-family: "FontAwesome";
	color: #a93a3c;
	font-size: 10px;
	margin-right: 5px
}
#colophon {
	background: #000000;
	padding: 15px 10px 10px 10px;
	color: #666;
	font-size: 13px;
	text-align: center
}
#colophon a {
	color: #666;
	text-decoration: underline
}
.single-header {
	background-position: center;
	position: relative;
	background-size: cover
}
.single-header .layer {
	top: 0;
	left: 0;
	padding: 45px 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5)
}
.single-header .container {
	text-align: center;
	color: #f2f2f2
}
.single-header .container a {
	color: #e6e6e6
}
#primary-mono {
	padding: 0 10px;
	padding-left: 20px
}
@media screen and (max-width: 767px) {
	#primary-mono {
		padding-left: 10px
	}
}
#primary-mono h1.entry-title {
	font-weight: bold;
	color: #000;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 0px;
}
#primary-mono .entry-footer,
#primary-mono .entry-meta {
	font-size: 12px;
	border-bottom: solid 1px #eee;
	padding-bottom: 7px;
	overflow: auto
}
#primary-mono .entry-footer a,
#primary-mono .entry-meta a {
	color: #666;
	text-decoration: underline
}
#primary-mono .entry-footer a:hover,
#primary-mono .entry-meta a:hover {
	color: #a5393b
}
#primary-mono .entry-meta {
	background: #22333b;
	color: #FFFFFF;
	display: inline-block;
	padding: 4px 10px;
	padding-bottom: 8px;
	font-size: 14px
}
#primary-mono .entry-meta a {
	color: #FFFFFF
}
#primary-mono .entry-meta a:hover {
	color: #eee
}
#primary-mono .entry-footer {
	border-top: solid 1px #eee;
	padding-top: 7px;
	margin-top: 25px
}
#primary-mono .entry-footer .post-edit-link {
	float: right
}
#primary-mono .entry-footer .cat-links {
	margin-right: 6px
}
#primary-mono .entry-content {
	color: #666;
	line-height: 1.7em;
	font-size: 14px
}
.page #primary-mono h1.entry-title {
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	font-size: 25px;
	margin-bottom: 10px;
	margin-top: 20px;
	background: none;
	position: relative
}
@media screen and (max-width: 991px) {
	.page #primary-mono h1.entry-title {
		margin-top: 20px
	}
}
.page #primary-mono h1.entry-title span {
	background: #fff;
	position: relative;
	padding: 25px 15px;
	padding-left: 0;
	z-index: 1
}
.page #primary-mono h1.entry-title:after {
	content: "";
	display: block;
	width: 96%;
	height: 11px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMUlEQVQIW2NkwAEePHjwnxGbHEhCQUGBEUMSJgHShCKJLIEiiS4Bl8QmAZbEJQGSBADSZhunpas31QAAAABJRU5ErkJggg==);
	border-top: none;
	position: absolute;
	left: 2%;
	top: 27%;
	z-index: 0
}
.edit-link {
	display: inline-block;
	float: right
}
.page-header {
	margin-top: 0px;
	border-bottom: none
}
.page-header h1 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 0
}
#respond h3#reply-title {
	font-weight: normal;
	font-size: 32px
}
#respond input[type=text] {
	max-width: 550px
}
#respond input,
#respond textarea {
	background: #f2f2f2;
	border: solid 1px #cccccc;
	color: #666;
	outline: none
}
#respond .comment-form-author,
#respond .comment-form-comment,
#respond .comment-form-email,
#respond .comment-form-url {
	position: relative
}
#respond .comment-form-author input,
#respond .comment-form-author textarea,
#respond .comment-form-comment input,
#respond .comment-form-comment textarea,
#respond .comment-form-email input,
#respond .comment-form-email textarea,
#respond .comment-form-url input,
#respond .comment-form-url textarea {
	padding: 4px 5px 5px 10px;
	border-radius: 0
}
#respond .comment-form-author label,
#respond .comment-form-comment label,
#respond .comment-form-email label,
#respond .comment-form-url label {
	background: #a5393b;
	color: #fff;
	border-bottom: solid 1px #a5393b;
	padding: 5px;
	margin-right: -5px;
	min-width: 70px
}
#respond .comment-form-comment label {
	margin-bottom: 0px
}
#respond .form-submit input[type=submit] {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	padding: 10px;
	background: #ffffff;
	font-weight: bold;
	color: #a5393b;
	margin-bottom: 60px
}
#respond .comment-notes,
#respond .logged-in-as {
	color: #666
}
#comments {
	margin-top: 55px
}
#comments h2.comments-title {
	font-size: x-large
}
#comments ol.comment-list {
	list-style: none;
	margin-left: 0px
}
#comments li.comment {
	border: solid 1px #e0e0e0;
	padding: 10px;
	margin-top: 15px;
	list-style: none;
	background: #f7f7f7
}
#comments li.comment .comment-content {
	color: #666666;
	font-weight: lighter
}
#comments li.trackback {
	background: #ffffff;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: solid 1px #eee;
	font-weight: bold
}
#comments li.trackback a {
	font-weight: normal
}
#comments .vcard img {
	border: solid 4px #fff;
	border-radius: 5px;
	margin: 0 10px 10px 0
}
#comments .form-allowed-tags {
	display: none
}
#comments .comment-metadata {
	font-weight: bold
}
#comments .comment-metadata time {
	float: right;
	color: #b3b3b3;
	font-weight: lighter;
	font-style: italic;
	font-size: 12px
}
@media screen and (max-width: 480px) {
	li.comment {
		margin-left: -5%
	}
}
.body-font {
	font-family: "Source Sans Pro", sans-serif
}
.title-font {
	font-family: "Fjalla One", sans-serif
}
body {
	font-family: "Source Sans Pro", sans-serif;
	background: #fff;
	word-wrap: break-word
}
.mega-container {
	background: #FFFFFF;
	max-width: 100%;
	margin: auto;
	overflow: visible
}
a {
	color: #6E6E6E;
	cursor: pointer
}
a:hover {
	text-decoration: none;
	color: #000
}
.container {
	margin: auto
}
#masthead .custom-logo {
	max-width: 100%
}
#site-logo {
	display: inline-block;
	max-width: 100px;
	max-height: 100px;
	text-align: center;
	float: left
}
@media screen and (max-width: 768px) {
	#site-logo {
		float: none
	}
}
#text-title-desc {
	padding: 10px
}
#secondary {
	margin-top: 10px
}
#secondary aside {
	padding: 10px
}
#secondary h3.widget-title {
	font-weight: bold;
	color: #000000;
	font-size: 22px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-top: 0px;
	text-transform: uppercase;
	position: relative;
	padding-left: 18px
}
#secondary h3.widget-title:before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 6px;
	background: #a5393b
}
#secondary .widget a {
	color: #555;
	font-weight: normal;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
#secondary .widget a:hover {
	color: #a5393b
}
#secondary .widget ul {
	font-size: 14px;
	margin-left: 0px
}
#secondary .widget ul li {
	list-style: none;
	border-bottom: solid 1px #eee;
	padding: 6px
}
#secondary .widget ul li:last-child {
	border-bottom: none
}
#secondary .widget_search {
	margin-bottom: 20px
}
#secondary .widget_search label {
	width: 100%
}
#secondary .widget_search input[type=search] {
	background: #FFFFFF;
	border: solid 2px #f4f4f4;
	border-radius: 0px;
	padding: 15px;
	font-size: 16px;
	padding-bottom: 10px;
	outline: none;
	width: 80%
}
#secondary .search-submit {
	display: none
}
#secondary .widget_archive ul li:before,
#secondary .widget_categories ul li:before,
#secondary .widget_meta ul li:before,
#secondary .widget_nav_menu ul li:before,
#secondary .widget_pages ul li:before,
#secondary .widget_recent_comments ul li:before,
#secondary .widget_recent_entries ul li:before {
	font-family: "FontAwesome";
	color: #a93a3c;
	font-size: 10px;
	margin-right: 5px
}
#secondary .widget_archive ul li,
#secondary .widget_categories ul li,
#secondary .widget_meta ul li,
#secondary .widget_nav_menu ul li,
#secondary .widget_pages ul li,
#secondary .widget_recent_comments ul li,
#secondary .widget_recent_entries ul li {
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
#secondary .widget_archive ul li:hover,
#secondary .widget_categories ul li:hover,
#secondary .widget_meta ul li:hover,
#secondary .widget_nav_menu ul li:hover,
#secondary .widget_pages ul li:hover,
#secondary .widget_recent_comments ul li:hover,
#secondary .widget_recent_entries ul li:hover {
	transform: translateX(2px);
	-webkit-transform: translateX(2px);
	-moz-transform: translateX(2px);
	-ms-transform: translateX(2px);
	-o-transform: translateX(2px)
}
#secondary .widget_tag_cloud .tagcloud a {
	border: solid 1px #22333b;
	font-size: 14px!important;
	text-transform: uppercase;
	font-weight: normal;
	color: #22333b;
	padding: 7px 5px;
	margin-bottom: 5px;
	display: inline-block
}
@-webkit-keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}
}
@keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95)
	}
}
#secondary .tagcloud a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: #808080scale
}
#secondary .tagcloud a:active,
#secondary .tagcloud a:focus,
#secondary .tagcloud a:hover {
	-webkit-animation-name: hvr-pulse-grow;
	animation-name: hvr-pulse-grow;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}
#secondary .widget_murray_rp li.rp-item {
	overflow: auto;
	clear: both;
	display: block;
	padding: 8px 0px;
	font-size: 14px
}
#secondary .widget_murray_rp .rp-thumb {
	width: 62px;
	float: left;
	display: inline-block;
	margin-right: 6px
}
#secondary .widget_murray_rp .rp-thumb img {
	border-right: solid 2px #a5393b
}
#secondary .widget_murray_rp .rp-date {
	color: #354f5b;
	font-size: 11px;
	margin-top: 3px
}
#main {
	margin-top: 20px
}
#showcase {
	margin-top: 50px;
	overflow: auto;
	margin-bottom: 10px
}
#showcase .showcase-item {
	position: relative;
	padding: 15px 15px;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px
}
#showcase .showcase-item .item-container {
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}
@media screen and (max-width: 600px) {
	#showcase .showcase-item {
		width: 100%
	}
}
#showcase .showcase-item .image {
	border-radius: 50%;
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 99
}
#showcase .showcase-item .image:after {
	content: "";
	width: 100%;
	height: 100%;
	border: solid 1px #fff;
	display: block;
	position: absolute;
	top: 0;
	transform: scale(0.92);
	-webkit-transform: scale(0.92);
	-moz-transform: scale(0.92);
	-ms-transform: scale(0.92);
	-o-transform: scale(0.92);
	border-radius: 50%;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
#showcase .showcase-item img {
	position: relative;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
#showcase .showcase-item .showcase-caption {
	position: relative;
	text-align: center;
	font-weight: normal;
	margin-top: 15px;
	color: #a5393b;
	background: #fff;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	opacity: 1
}
#showcase .showcase-item .showcase-caption .showcase-title {
	font-size: 18px;
	text-transform: uppercase;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	color: #000000;
	font-weight: bold
}
@media screen and (max-width: 767px) {
	#showcase .showcase-item .showcase-caption .showcase-title {
		font-size: 18px
	}
}
#showcase .showcase-item .showcase-caption .showcase-desc {
	font-size: 16px;
	color: #22333b;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
@media screen and (max-width: 767px) {
	#showcase .showcase-item .showcase-caption .showcase-desc {
		font-size: 14px;
		font-weight: normal
	}
}
#showcase .showcase-item:hover img {
	-webkit-filter: brightness(0.6);
	filter: brightness(0.6);
	transform: scale(1.1) translateY(0px);
	-webkit-transform: scale(1.1) translateY(0px);
	-moz-transform: scale(1.1) translateY(0px);
	-ms-transform: scale(1.1) translateY(0px);
	-o-transform: scale(1.1) translateY(0px)
}
#showcase .showcase-item:hover .image:after {
	transform: scale(0.95) rotate(0deg);
	-webkit-transform: scale(0.95) rotate(0deg);
	-moz-transform: scale(0.95) rotate(0deg);
	-ms-transform: scale(0.95) rotate(0deg);
	-o-transform: scale(0.95) rotate(0deg);
	border-style: dashed
}
#showcase .showcase-item:hover .showcase-caption {
	opacity: 1
}
#showcase .showcase-item:hover .showcase-desc,
#showcase .showcase-item:hover .showcase-title {
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left
}
#slider-bg {
	width: 100%;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 20px
}
.slider-wrapper {
	margin-bottom: -71px
}
.slider-wrapper .nivoSlider {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: solid 1px #eee
}
.slider-wrapper .nivo-controlNav {
	position: relative;
	bottom: 16px;
	z-index: 9;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
.slider-wrapper .nivo-controlNav a {
	background-image: none;
	width: 28px;
	height: 3px;
	margin: 0 5px;
	background: #a5393b;
	position: relative;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
.slider-wrapper .nivo-controlNav a:hover {
	background: rgba(165, 57, 59, 0.5)
}
.slider-wrapper .nivo-controlNav .active {
	top: -3px
}
.slider-wrapper .nivo-caption {
	bottom: 60px;
	left: 55px;
	right: auto;
	font-family: inherit;
	background: none
}
@media screen and (max-width: 600px) {
	.slider-wrapper .nivo-caption {
		transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-o-transform: scale(0.6);
		bottom: 15px;
		left: -50px
	}
}
.slider-wrapper .nivo-caption a {
	text-decoration: none;
	border-bottom: none
}
.slider-wrapper .nivo-caption .slide-title {
	display: inline-block;
	font-size: 20px;
	padding: 7px 10px;
	text-shadow: 0px 1px 0px black;
	background: rgba(34, 51, 59, 0.8);
	font-weight: bold;
	margin-bottom: 5px;
	border-radius: 4px
}
.slider-wrapper .nivo-caption .slide-desc span {
	background: rgba(165, 57, 59, 0.6);
	display: inline-block;
	font-size: 16px;
	padding: 3px 8px;
	border-radius: 3px
}
.slider-wrapper .nivo-caption .slide-cta span {
	background: rgba(255, 255, 255, 0.4);
	font-weight: bold;
	display: inline-block;
	font-size: 14px;
	margin-top: 5px;
	padding: 4px 10px;
	border: solid 2px white;
	text-shadow: 1px 1px 0px black;
	border-radius: 5px
}
.slider-wrapper .nivo-caption .slide-cta span:hover {
	background: rgba(255, 255, 255, 0.8)
}
.latest-hap {
	position: relative
}
.sb-slider .sb-description {
	pointer-events: none;
	z-index: 88;
	background: rgba(0, 0, 0, 0.4);
	border-left-color: #a5393b;
	padding: 10px
}
.sb-slider .sb-description h3 {
	margin: 0
}
.nav-arrows {
	position: absolute;
	top: 50%
}
.nav-arrows a {
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.2s all ease;
	-webkit-transition: 0.2s all ease;
	-moz-transition: 0.2s all ease;
	-ms-transition: 0.2s all ease;
	-o-transition: 0.2s all ease;
	-webkit-box-shadow: 0px 0px 1px #a5393b;
	box-shadow: 0px 0px 1px #a5393b;
	outline: none
}
.nav-arrows a:hover {
	background-color: rgba(165, 57, 59, 0.5)
}
.nav-arrows a:first-child {
	right: -535px
}
@media screen and (max-width: 1199px) {
	.nav-arrows a:first-child {
		right: -435px
	}
}
@media screen and (max-width: 991px) {
	.nav-arrows a:first-child {
		right: -675px
	}
}
@media screen and (max-width: 768px) {
	.nav-arrows a:first-child {
		display: none
	}
}
.nav-arrows a:nth-child(2) {
	right: -47px
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.nav-arrows a:nth-child(2) {
		right: -57px
	}
}
@media screen and (max-width: 768px) {
	.nav-arrows a:nth-child(2) {
		display: none
	}
}
.format-video .icon i.fa-newspaper-o:before {
	content: "\f01d"
}
.format-image .icon i.fa-newspaper-o:before {
	content: "\f030"
}
.featured-section {
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto
}
.featured-section .section-title {
	margin-top: 0
}
.featured-section .item {
	padding: 0;
	overflow: hidden
}
.featured-section .format-image .item-container,
.featured-section .format-video .item-container {
	position: relative;
	z-index: 2
}
.featured-section .format-image .item-container:after,
.featured-section .format-video .item-container:after {
	content: "\f01d";
	font-family: "FontAwesome";
	position: absolute;
	top: calc(50% - 26px);
	font-size: 34px;
	left: calc(50% - 17px);
	color: rgba(255, 255, 255, 0.8);
	z-index: 3
}
.featured-section .format-image .item-container:after {
	content: "\f030"
}
.featured-section .item-container {
	overflow: hidden;
	position: relative;
	display: block
}
.featured-section .item-container img {
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9)
}
.featured-section .item-container .featured-caption {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: none;
	pointer-events: none;
	z-index: 9
}
.featured-section .item-container .featured-caption .post-title {
	color: #ddd;
	clear: both;
	position: absolute;
	bottom: 40px;
	padding-right: 8px;
	font-weight: normal;
	font-size: 15px;
	font-style: italic;
	line-height: 1.7em
}
.featured-section .item-container .featured-caption .postdate {
	color: #ccc;
	display: block;
	position: absolute;
	bottom: 10px;
	font-size: 12px
}
.section-title {
	color: #22333b;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	font-size: 22px;
	margin-bottom: 30px;
	margin-top: 20px;
	position: relative;
	vertical-align: middle;
	font-family: "Fjalla One", sans-serif
}
@media screen and (max-width: 991px) {
	.section-title {
		margin-top: 20px
	}
}
.section-title span {
	background: #fff;
	position: relative;
	z-index: 1;
	top: 1px
}
.section-title i.fa {
	padding: 10px;
	border: solid 2px #d9d9d9;
	border-radius: 8px;
	margin-right: 10px;
	margin-left: 0px;
	font-size: 18px;
	vertical-align: middle;
	color: #a5393b
}
.featured-2 {
	margin: 20px 0;
	position: relative
}
.featured-2 .popular-articles {
	overflow: auto;
	overflow-x: hidden
}
.featured-2 .popular-articles .imgcontainer {
	padding: 6px;
	position: relative
}
.featured-2 .popular-articles .popimage {
	position: relative;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
.featured-2 .popular-articles .popimage img {
	display: block;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
@media screen and (max-width: 991px) {
	.featured-2 .popular-articles .popimage img {
		width: 100%
	}
}
.featured-2 .popular-articles .popimage:hover img {
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	opacity: 1
}
.featured-2 .popular-articles .popimage:hover .titledesc {
	display: block;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	opacity: 1
}
.featured-2 .popular-articles .titledesc {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	transition: 0.8s all ease;
	-webkit-transition: 0.8s all ease;
	-moz-transition: 0.8s all ease;
	-ms-transition: 0.8s all ease;
	-o-transition: 0.8s all ease;
	transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0
}
.featured-2 .popular-articles .titledesc h2 {
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold
}
.featured-2 .popular-articles .titledesc a {
	color: #eee;
	background: #a5393b;
	text-align: center;
	display: block;
	width: 40%;
	padding: 5px;
	margin: auto;
	margin-top: 25px
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .titledesc {
	transform: translateX(50px);
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	-ms-transform: translateX(50px);
	-o-transform: translateX(50px)
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .popimage:hover img {
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px)
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .popimage:hover .titledesc {
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px)
}
#sticky-post {
	overflow: auto;
	margin-bottom: 0px
}
#sticky-post .sticky-image img {
	width: 100%;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
#sticky-post:hover img {
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8)
}
#sticky-post .sticky-details .sticky-title {
	font-size: 32px;
	font-weight: normal;
	line-height: 1.8em
}
#sticky-post .sticky-details .sticky-title a {
	color: #22333b
}
#sticky-post .sticky-details .sticky-desc {
	color: rgba(102, 102, 102, 0.6);
	line-height: 2em
}
#sticky-post .format-image,
#sticky-post .format-video {
	position: relative;
	z-index: 2
}
#sticky-post .format-image:after,
#sticky-post .format-video:after {
	content: "\f01d";
	font-family: "FontAwesome";
	position: absolute;
	top: calc(50% - 36px);
	font-size: 54px;
	left: calc(50% - 26px);
	color: rgba(255, 255, 255, 0.8);
	z-index: 5
}
#sticky-post .format-image:after {
	content: "\f030"
}
.flex-images {
	border: none;
	padding: 15px 30px;
	margin-bottom: 30px
}
.flex-images .section-title:after {
	width: 5%
}
.flex-images .item {
	margin: 6px;
	border: none;
	position: relative
}
.flex-images .item .viewtext {
	position: absolute;
	top: 35%;
	left: 40%;
	font-size: 14px;
	z-index: 9999;
	display: none
}
.flex-images .item img {
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
.flex-images .item:after {
	content: "";
	position: absolute;
	display: block;
	width: 0%;
	height: 5px;
	bottom: 0px;
	background: rgba(165, 57, 59, 0.8);
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
.flex-images .item:hover:after {
	width: 100%
}
.flex-images .item:hover img {
	-webkit-filter: blur(3px) grayscale(0.9)
}
.flex-images .item:hover .flex-caption {
	padding-left: 20px
}
.flex-images .item:hover .viewtext {
	display: block;
	color: #eee;
	text-shadow: 0 0 2px #000;
	background: #000;
	padding: 10px;
	border-radius: 10px
}
.flex-images .flex-caption {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	position: absolute;
	bottom: 0px;
	display: block;
	pointer-events: none;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	width: 100%;
	color: #eee;
	font-weight: bold;
	text-shadow: 1px 1px 0 #222;
	font-size: 16px;
	padding: 50px 10px 20px 10px
}
.featposts {
	margin-top: 25px
}
.featposts .section-title {
	margin-bottom: 25px
}
.featposts .item {
	padding: 5px;
	position: relative;
	margin-bottom: 0;
	overflow: hidden
}
.featposts .item .item-container {
	overflow: hidden;
	border: solid 5px #f2f2f2
}
.featposts .item img {
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
	-moz-transition: 1s all ease;
	-ms-transition: 1s all ease;
	-o-transition: 1s all ease;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	position: relative;
	z-index: 80
}
.featposts .item .post-title {
	position: absolute;
	bottom: 50%;
	text-align: center;
	width: calc(100% - 20px);
	font-size: 18px;
	transform: translateY(70%) scale(2);
	-webkit-transform: translateY(70%) scale(2);
	-moz-transform: translateY(70%) scale(2);
	-ms-transform: translateY(70%) scale(2);
	-o-transform: translateY(70%) scale(2);
	color: #fff;
	z-index: 90;
	opacity: 0;
	transition: 0.7s all ease;
	-webkit-transition: 0.7s all ease;
	-moz-transition: 0.7s all ease;
	-ms-transition: 0.7s all ease;
	-o-transition: 0.7s all ease
}
@media screen and (max-width: 600px) {
	.featposts .item .post-title {
		font-size: 13px
	}
}
@media screen and (max-width: 767px) {
	.featposts .item .post-title {
		opacity: 1
	}
}
.featposts .item:after,
.featposts .item:before {
	content: "";
	height: 2px;
	background: rgba(255, 255, 255, 0.85);
	display: block;
	width: 80%;
	left: 10%;
	position: absolute;
	opacity: 0;
	transition: 0.6s all ease;
	-webkit-transition: 0.6s all ease;
	-moz-transition: 0.6s all ease;
	-ms-transition: 0.6s all ease;
	-o-transition: 0.6s all ease;
	z-index: 90
}
@media screen and (max-width: 767px) {
	.featposts .item:after,
	.featposts .item:before {
		opacity: 1
	}
}
@media screen and (min-width: 767px) {
	.featposts .item:before {
		top: 20px;
		transform: rotate(-5deg) scale(2);
		-webkit-transform: rotate(-5deg) scale(2);
		-moz-transform: rotate(-5deg) scale(2);
		-ms-transform: rotate(-5deg) scale(2);
		-o-transform: rotate(-5deg) scale(2);
		-webkit-transform-origin: 20%;
		-ms-transform-origin: 20%;
		transform-origin: 20%
	}
	.featposts .item:after {
		bottom: 20px;
		transform: rotate(-5deg) scale(2);
		-webkit-transform: rotate(-5deg) scale(2);
		-moz-transform: rotate(-5deg) scale(2);
		-ms-transform: rotate(-5deg) scale(2);
		-o-transform: rotate(-5deg) scale(2);
		-webkit-transform-origin: 80%;
		-ms-transform-origin: 80%;
		transform-origin: 80%
	}
}
@media screen and (min-width: 767px) {
	.featposts .item:hover:after,
	.featposts .item:hover:before {
		transform: rotate(0deg) scale(1);
		-webkit-transform: rotate(0deg) scale(1);
		-moz-transform: rotate(0deg) scale(1);
		-ms-transform: rotate(0deg) scale(1);
		-o-transform: rotate(0deg) scale(1);
		opacity: 1
	}
	.featposts .item:hover .post-title {
		transform: translateY(50%) scale(1);
		-webkit-transform: translateY(50%) scale(1);
		-moz-transform: translateY(50%) scale(1);
		-ms-transform: translateY(50%) scale(1);
		-o-transform: translateY(50%) scale(1);
		opacity: 1
	}
	.featposts .item:hover img {
		filter: brightness(0.3);
		-webkit-filter: brightness(0.3);
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1)
	}
}
.grid-row {
	margin: 0
}
.grid {
	margin: 10px 0;
	padding-left: 0;
	padding-bottom: 17px;
	border-bottom: solid 1px #eee
}
@media screen and (max-width: 768px) {
	.grid {
		border-bottom: none
	}
}
.grid:nth-last-child(2) {
	border: none
}
.grid .featured-thumb {
	overflow: hidden;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	padding: 0
}
@media screen and (max-width: 992px) and (min-width: 768px) {
	.grid .featured-thumb {
		overflow: visible
	}
}
@media screen and (max-width: 768px) {
	.grid .featured-thumb img {
		width: 100%
	}
}
.grid .featured-thumb img {
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
@media screen and (min-width: 767px) {
	.grid .featured-thumb:hover img {
		transition: 0.4s all ease;
		-webkit-transition: 0.4s all ease;
		-moz-transition: 0.4s all ease;
		-ms-transition: 0.4s all ease;
		-o-transition: 0.4s all ease;
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1)
	}
}
@media screen and (max-width: 768px) {
	.grid .out-thumb {
		padding: 10px 3px
	}
}
.grid .out-thumb h3 {
	margin: 5px 0;
	margin-top: 1px;
	font-weight: normal;
	font-size: 19px
}
.grid .out-thumb h3 a {
	color: #262626;
	padding-bottom: 2px
}
.grid .out-thumb h3 a:before {
	height: 2px;
	background: #262626;
	width: 96%;
	left: 2%
}
.grid .out-thumb .postedon {
	font-size: 12px;
	color: #aaa;
	font-weight: lighter;
	margin-bottom: 5px
}
.grid .out-thumb .postedon a {
	color: #999;
	text-decoration: underline
}
.grid .out-thumb .entry-excerpt {
	color: #666;
	line-height: 1.6em;
	font-weight: 400
}
.grid .readmore {
	display: block;
	clear: both
}
.grid .hvr-underline-from-center:before {
	height: 1px;
	background: #a5393b
}
.grid_2_column {
	padding: 0;
	border-bottom: none
}
.grid_2_column .out-thumb {
	padding: 12px 0
}
@media screen and (max-width: 768px) {
	.grid_2_column {
		padding-right: 0px
	}
}
@media screen and (min-width: 768px) {
	.grid_2_column:nth-of-type(2n) {
		padding-left: 10px
	}
	.grid_2_column:nth-of-type(odd) {
		padding-right: 10px;
		clear: left
	}
}
.grid_3_column {
	padding: 0 10px
}
@media screen and (min-width: 768px) {
	.grid_3_column:nth-of-type(odd) {
		padding-right: 10px;
		clear: none
	}
	.grid_3_column:nth-of-type(3n+1) {
		clear: left
	}
}
.murray {
	padding: 5px;
	border-bottom: none
}
.murray .featured-thumb {
	border-top: none
}
.murray .featured-thumb:hover img {
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none
}
.murray:nth-of-type(odd) {
	padding-right: 5px
}
.murray .icon {
	text-align: center;
	overflow: auto;
	clear: both;
	position: relative
}
.murray .icon i {
	background: #fff;
	padding: 5px 10px;
	position: relative;
	z-index: 5;
	color: rgba(102, 102, 102, 0.5)
}
.murray .icon:before {
	content: "";
	width: 100%;
	position: absolute;
	height: 1px;
	left: 0;
	background: #e6e6e6;
	top: 11px;
	z-index: 0
}
.murray .out-thumb {
	padding: 0;
	text-align: center
}
.murray .out-thumb .postedon {
	display: inline-block
}
.murray .out-thumb h3.entry-title a {
	font-size: 14px;
	color: rgba(102, 102, 102, 0.9);
	letter-spacing: 1px;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-o-transition: 0.4s all ease
}
@media screen and (min-width: 767px) {
	.murray .out-thumb h3.entry-title a:hover {
		color: #a5393b
	}
}
.murray .out-thumb h3 {
	margin-bottom: 0px
}
.murray .out-thumb .postedon {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px
}
.murray .out-thumb .postedon a {
	text-decoration: none
}
@media screen and (min-width: 767px) {
	.murray:hover img {
		-webkit-filter: brightness(0.8);
		filter: brightness(0.8)
	}
}
#pSliderImage,
#pSliderText {
	width: 50%;
	float: left;
}
.owl-dots {
	position: absolute !important;
	right: -100px !important;
	margin-top: -20px !important;
}
.pHighlight {
	margin-top: 5px;
}
.pHighlight a {
	font-size: 20px;
	font-weight: normal;
	color: #6E6E6E;
}
.menu-menu-container {
	float: right;
}
.widget_pages li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.28);
	text-transform: uppercase;
	padding-left: 10px;
	padding-bottom: 5px;
	display: inline-block;
	width: 13%;
}
.modal-backdrop.in {
	filter: alpha(opacity=50) !important;
	opacity: .8 !important;
}
.modal-dialog {
	width: 60%;
	margin: 30px auto;
}
.modal-content {
	border-radius: 0px;
}
.modal-header {
	border-bottom: none;
}
.modal-body {
	padding: 0px;
}
#pModalContainer {
	height: 100%;
	width: 65%;
	display: inline-block;
	border-right: 1px solid #D9D9D9;
}
#pModalRightContainer {
	height: 100%;
	width: 34%;
	float: right;
}
#pModalAds {
	width: 100%;
	padding: 10px;
}
#snippetNextButton {
	width: 100%;
	float: right
}
#snippetPrevButton {
	width: 100%;
	float: right;
	margin-top: 40%;
}
#snippetNextButton div {
	font-size: 22px;
	color: #A12828;
	font-weight: bold;
	float: right;
}
#snippetPrevButton div {
	font-size: 22px;
	color: #6D6D6D;
	font-weight: bold;
	float: right;
}
#snippetNextTitle {
	font-size: 18px;
	margin-top: 5px;
	direction: rtl;
	color: #000000;
}
#snippetPrevTitle {
	font-size: 18px;
	margin-top: 5px;
	direction: rtl;
	color: #6D6D6D;
}
#pNavContainer {
	width: 100%;
	padding: 10px;
}
#pNavContainerNext {
	width: 100%
}
#pNavContainerPrev {
	width: 100%
}
#pSideNavDiv {
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 99999;
}
#pSidebar {
	background: #F4F4F4;
	height: 100%;
}
@media screen and (max-width: 1199px) {
	#site-navigation .nav-container {
		max-width: 100%;
		padding: 0px;
		display: block;
		margin-top: -50px;
		font-size: 12px !important;
		float: left;
	}
	#site-navigation ul li a {
		padding: 0 5px;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 15px !important;
		background: none;
		transition: 0.2s all ease;
		-webkit-transition: 0.2s all ease;
		-moz-transition: 0.2s all ease;
		-ms-transition: 0.2s all ease;
		-o-transition: 0.2s all ease;
	}
	#pNav {
		width: 70% !important;
		margin-top: -50px !important;
	}
	.pSliderImg {
		width: 48%;
	}
	.pSliderText {
		width: 45%;
	}
	.pSliderImgs {
		width: 100%;
	}
	.pSliderTexts {
		width: 45%;
	}
	.pHighlight a {
		font-size: 16px;
		font-weight: bold;
		color: #6E6E6E;
	}
	.modal-dialog {
		width: 80%;
		margin: 15px auto;
	}
}
@media screen and (max-width: 992px) {
	#pDesktoptopnav {
		display: none;
	}
	.pMobiletopnav {
		display: block !important;
	}
	#site-navigation .nav-container {
		max-width: 100%;
		padding: 0px;
		display: block;
		margin-top: -45px;
		font-size: 12px !important;
		float: left;
	}
	#site-navigation ul li a {
		padding: 0 3px;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px !important;
		background: none;
		transition: 0.2s all ease;
		-webkit-transition: 0.2s all ease;
		-moz-transition: 0.2s all ease;
		-ms-transition: 0.2s all ease;
		-o-transition: 0.2s all ease;
	}
	#site-navigation {
		margin-top: 0;
		float: none;
		text-align: center;
		width: 100%
	}
	#site-navigation .td_mobile_menu_wrap {
		min-height: 42px;
		padding: 20px;
		position: relative;
		min-width: 150px;
		display: inline-block
	}
	#site-navigation .td_mobile_menu_wrap:after {
		content: "\f103";
		font-family: "FontAwesome";
		color: #FFFFFF;
		position: absolute;
		right: 27px;
		top: 23px;
		font-size: 18px
	}
	#site-navigation .mobileMenu {
		padding: 5px 8px;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		color: #FFFFFF;
		min-width: 150px;
		background-image: none;
		-webkit-appearance: none;
		position: relative
	}
	#site-navigation .mobileMenu:focus {
		outline: none
	}
	.pSliderImg {
		width: 100%;
	}
	.pSliderText {
		width: 100%;
		margin-left: 0px;
		padding: 10px;
	}
	#pSliderImage,
	#pSliderText {
		width: 100%
	}
	.owl-dots {
		position: relative !important;
		left: 0 !important;
		margin: auto;
		text-align: center !important;
		margin-top: 0px !important;
	}
	.menu-menu-container {
		float: none;
	}
	.widget_pages li a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.28);
		text-transform: uppercase;
		padding-left: 10px;
		padding-bottom: 5px;
		display: inline-block;
		width: 33%;
	}
	#pModalContainer {
		height: 100%;
		width: 100%;
	}
	#pModalRightContainer {
		height: 100%;
		width: 100%;
		float: none;
	}
	#pModalAds {
		width: 100%;
		padding: 10px;
		display: none;
	}
	#snippetNextButton {
		width: 100%;
		float: right
	}
	#snippetPrevButton {
		width: 100%;
		float: left;
		margin-top: 0px;
	}
	#snippetNextButton div {
		font-size: 14px;
		color: #A12828;
		font-weight: bold;
		float: right;
	}
	#snippetPrevButton div {
		font-size: 14px;
		color: #6D6D6D;
		font-weight: bold;
		float: left;
	}
	#snippetNextTitle {
		font-size: 12px;
		margin-top: 5px;
		direction: rtl;
		color: #000000;
		float: right;
	}
	#snippetPrevTitle {
		font-size: 12px;
		margin-top: 5px;
		direction: ltr;
		color: #6D6D6D;
		float: left;
	}
	#pNavContainer {
		width: 100%;
		padding: 20px;
		position: relative;
	}
	#pNavContainerChildOne {
		bottom: 0;
		width: 100%;
		padding: 0px 10px 75px 20px;
	}
	#pNavContainerNext {
		float: right;
		width: 45%
	}
	#pNavContainerPrev {
		float: left;
		width: 45%
	}
	#pSideNavDiv {
		display: none;
	}
	.modalClose {
		display: none;
	}
}
@media screen and (max-width: 700px) {
	.modal-dialog {
		width: 90%;
		margin: 10px auto;
	}
	#pModalContainer {
		height: 100%;
		width: 100%;
	}
	#pModalRightContainer {
		height: 100%;
		width: 100%;
		float: none;
	}
	#snippetModalTitle{
		font-size: 16px;
	}
	#snippetModalContent{
		font-size: 14px;
	}
}
.pMobiletopnav {
	overflow: hidden;
	background-color: #A12828;
	position: relative;
}
.pMobiletopnav #myLinks {
	display: none;
}
.pMobiletopnav a {
	color: #FFFFFF;
	padding: 25px 25px;
	text-decoration: none;
	font-size: 17px;
}
.pMobiletopnav a.icon {
	background: #000000;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.active {
	color: #FFFFFF;
}
.menu {
	float: none !important;
	list-style: none;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.3s;
	text-align: left !important;
}
.sidenav a:hover {
	color: #f1f1f1;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
#search-form {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
#search-form input[type=search] {
	padding: 10px;
	font-size: 22px;
	float: left;
	width: 89%;
	background: #f1f1f1;
	border-radius: 27px;
	height: 45px;
	margin-top: 35px;
	margin-bottom: 15px;
	display: inline-block;
	border: none;
	color: #C4C4C4;
	text-indent: 15px;
}
#search-form input[type=search]::-webkit-input-placeholder {
	font-weight: normal;
	color: #C4C4C4;
}
#search-form input[type=search]::-moz-placeholder {
	font-weight: normal;
	color: #C4C4C4;
}
#search-form input[type=search]:-ms-input-placeholder {
	font-weight: normal;
	color: #C4C4C4;
}
#search-form input[type=search]:-moz-placeholder {
	font-weight: normal;
	color: #C4C4C4;
}
#pSubmit {
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	background: #C60000;
	color: #FFFFFF;
	font-size: 17px;
	cursor: pointer;
	border-radius: 27px;
	height: 45px;
	margin-top: 35px;
	right: 11.5%;
	position: absolute;
}
#pClose {
	margin-left: 7px;
	font-size: 30px;
	margin-top: 37px;
	display: inline-block;
}
#search-form::after {
	content: "";
	clear: both;
	display: table;
}
.modal-open {
	padding-right: 0 !important;
}
html {
	overflow-y: scroll !important;
}