.flownews-rtl {
	text-align:right;
}

/********************************************************/
/******************** VISUAL COMPOSER *******************/
/********************************************************/

/* VC Header */

.flownews-rtl .flownews-vc-element-header .article-title,
.flownews-rtl .flownews-vc-element-header .article-category,
.flownews-rtl .flownews-vc-element-header .article-data,
.flownews-rtl .flownews-vc-element-header .article-comments,
.flownews-rtl .flownews-vc-element-header .article-separator,
.flownews-rtl .flownews-header-type1 .article-title,
.flownews-rtl .flownews-header-type1 .article-category,
.flownews-rtl .flownews-header-type1 .article-data,
.flownews-rtl .flownews-header-type1 .article-comments,
.flownews-rtl .flownews-header-type1 .article-separator,
.flownews-rtl .flownews-header-type3 .others-element-header img,
.flownews-rtl .flownews-header-type3 .others-element-header .article-info-type3 {
	float:right;
}
@media screen and (max-width: 399px) {
	.flownews-rtl .flownews-header-type1 .article-title {
		float:none;
	}
} 
@media screen and (max-width: 1100px) {
	.flownews-rtl .flownews-header-type2 .others-element-header .article-data,
	.flownews-rtl .flownews-header-type2 .others-element-header .article-comments {
		float:none;
	}
}
@media screen and (max-width: 549px) {
	.flownews-rtl .flownews-header-type2 .article-title {
		float:none;
	}
}
@media screen and (max-width: 799px) {
	.flownews-rtl .flownews-header-type3 .others-element-header img,
    .flownews-rtl .flownews-header-type3 .others-element-header .article-info-type3,
	.flownews-rtl .flownews-header-type3 .others-element-header .article-title {
		float:none;		
	}
}
@media screen and (max-width: 600px) {
	.flownews-rtl .flownews-header-type4 .article-title {
		float:none;
	}
}
@media screen and (max-width: 1100px) {
	.flownews-rtl .flownews-vc-element-header.flownews-header-type5 .article-title {
		float:none;
	}
}
@media screen and (max-width: 399px) {
	.flownews-rtl .flownews-header-type5 .article-title {
		float:none;
	}
}
.flownews-rtl .flownews-vc-element-header .article-info-bottom {
	margin-right:0;
	margin-left:20px;
}
.flownews-rtl .flownews-vc-element-header .article-title {
	margin-right:0;
	margin-left:25px;
}
.flownews-rtl .flownews-vc-element-header .article-comments {
	margin-left:0;
	margin-right:20px;
}
.flownews-rtl .flownews-vc-element-header article:hover .article-info {
	left:0;
	right:45px;
}
.flownews-rtl .flownews-header-type2 .article-info-top h2 {
	margin-left:10px;
	margin-right:0;
}
.flownews-rtl .flownews-vc-element-header .article-data {
	margin-right:0;
	margin-left:20px;
}
.flownews-rtl .flownews-vc-element-header.flownews-header-type4 .article-title, 
.flownews-rtl .flownews-vc-element-header.flownews-header-type5 .article-title {
	margin-left:15px;
}
.flownews-rtl .flownews-header-type4 .article-title a {
	margin-right:0;
}
.flownews-rtl .flownews-vc-element-header.flownews-header-type5 .article-info-top h2 {
	margin-right:0;
}

/* VC Post */
.flownews-rtl .flownews-vc-element-posts .article-data,
.flownews-rtl .flownews-vc-element-posts .article-comments,
.flownews-rtl .flownews-vc-element-posts .article-separator {
	float:right;
}
.flownews-rtl .flownews-vc-element-posts .article-data {
	margin-right:0;
	margin-left:20px;
}
.flownews-rtl .flownews-vc-element-posts.flownews-posts-type2 .article-comments,
.flownews-rtl .flownews-vc-element-posts .article-comments {
	margin-right:20px;
	margin-left:0;
}
.flownews-rtl .flownews-vc-element-posts.flownews-posts-type2 .article-data {
	margin-right:0;
}

/* VC Carousel */
.flownews-rtl .flownews-vc-element-posts-carousel .article-data, 
.flownews-rtl .flownews-vc-element-posts-carousel .article-comments, 
.flownews-rtl .flownews-vc-element-posts-carousel .article-separator,
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title,
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-category,
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-data, 
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-comments, 
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-separator {
	float:right;
}
.flownews-rtl .flownews-vc-element-posts-carousel .article-data,
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-data {
	margin-right:0;
	margin-left:20px;
}
.flownews-rtl .flownews-vc-element-posts-carousel .article-comments,
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-comments {
	margin-right:20px;
	margin-left:0;
}
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title {
	margin-right:0;
}
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a {
	margin-left:10px;
	margin-right:0;
}
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom {
	margin-right:0;
	margin-left:20px;	
}
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article:hover .article-info {
	right:45px;
	left:0;
}
.flownews-rtl .flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom i {
	margin-left:10px;
	margin-right:0;
}

/* VC Tab */
.flownews-rtl .flownews-vc-element-posts-tab .article-data, 
.flownews-rtl .flownews-vc-element-posts-tab .article-comments, 
.flownews-rtl .flownews-vc-element-posts-tab .article-separator {
	float:right;
}
.flownews-rtl .flownews-vc-element-posts-tab .article-data {
	margin-right:0;
	margin-left:12px;
}
.flownews-rtl .flownews-vc-element-posts-tab .article-comments {
	margin-right:12px;
	margin-left:0;
}

/* TOP Content */
.flownews-rtl .flownews-top-content-layout1 .article-title,
.flownews-rtl .flownews-top-content-layout1 .article-category,
.flownews-rtl .flownews-top-content-layout1 .article-data, 
.flownews-rtl .flownews-top-content-layout1 .article-comments, 
.flownews-rtl .flownews-top-content-layout1 .article-separator,
.flownews-rtl .flownews-top-content-layout2 .article-title,
.flownews-rtl .flownews-top-content-layout2 .article-category,
.flownews-rtl .flownews-top-content-layout2 .article-data, 
.flownews-rtl .flownews-top-content-layout2 .article-comments, 
.flownews-rtl .flownews-top-content-layout2 .article-separator,
.flownews-rtl .flownews-top-content-layout3 .article-title,
.flownews-rtl .flownews-top-content-layout3 .article-category,
.flownews-rtl .flownews-top-content-layout3 .article-data, 
.flownews-rtl .flownews-top-content-layout3 .article-comments, 
.flownews-rtl .flownews-top-content-layout3 .article-separator,
.flownews-rtl .flownews-top-content-layout4 .article-title,
.flownews-rtl .flownews-top-content-layout4 .article-category,
.flownews-rtl .flownews-top-content-layout4 .article-data, 
.flownews-rtl .flownews-top-content-layout4 .article-comments, 
.flownews-rtl .flownews-top-content-layout4 .article-separator,
.flownews-rtl .flownews-top-content-layout5 .article-title,
.flownews-rtl .flownews-top-content-layout5 .article-category,
.flownews-rtl .flownews-top-content-layout5 .article-data, 
.flownews-rtl .flownews-top-content-layout5 .article-comments, 
.flownews-rtl .flownews-top-content-layout5 .article-separator  {
	float:right;
}
.flownews-rtl .flownews-element-top-content.flownews-top-content-layout1 .article-info-top h2, 
.flownews-rtl .flownews-element-top-content.flownews-top-content-layout2 .article-info-top h2,
.flownews-rtl .flownews-element-top-content.flownews-top-content-layout3 .article-info-top h2,
.flownews-rtl .flownews-element-top-content.flownews-top-content-layout4 .article-info-top h2,
.flownews-rtl .flownews-element-top-content.flownews-top-content-layout5 .article-info-top h2 {
	margin-right:0;
	margin-left:10px;
}
.flownews-rtl .flownews-top-content-layout1 .article-data,
.flownews-rtl .flownews-top-content-layout2 .article-data,
.flownews-rtl .flownews-top-content-layout3 .article-data,
.flownews-rtl .flownews-top-content-layout4 .article-data,
.flownews-rtl .flownews-top-content-layout5 .article-data {
	margin-right:0;
	margin-left:20px;
}
.flownews-rtl .flownews-top-content-layout1 .article-comments,
.flownews-rtl .flownews-top-content-layout2 .article-comments,
.flownews-rtl .flownews-top-content-layout3 .article-comments,
.flownews-rtl .flownews-top-content-layout4 .article-comments,
.flownews-rtl .flownews-top-content-layout5 .article-comments {
	margin-right:20px;
	margin-left:0;
}
.flownews-rtl .flownews-top-content-layout1 .article-info-bottom,
.flownews-rtl .flownews-top-content-layout2 .article-info-bottom,
.flownews-rtl .flownews-top-content-layout3 .article-info-bottom,
.flownews-rtl .flownews-top-content-layout4 .article-info-bottom,
.flownews-rtl .flownews-top-content-layout5 .article-info-bottom {
	margin-right:0;
	margin-left:20px;
}
.flownews-rtl .flownews-top-content-layout1 article:hover .article-info,
.flownews-rtl .flownews-top-content-layout2 article:hover .article-info,
.flownews-rtl .flownews-top-content-layout3 article:hover .article-info,
.flownews-rtl .flownews-top-content-layout4 article:hover .article-info,
.flownews-rtl .flownews-top-content-layout5 article:hover .article-info {
	left:0;
	right:45px;
}
.flownews-rtl .flownews-top-content-layout4 .article-title a {
	margin-right:0;
}

/* POST Layout */
.flownews-rtl .flownews-element-posts .article-data, 
.flownews-rtl .flownews-element-posts .article-comments, 
.flownews-rtl .flownews-element-posts .article-separator {
	float:right;
}
.flownews-rtl .flownews-element-posts .article-data {
	margin-right:0;
	margin-left:20px;
}
.flownews-rtl .flownews-element-posts.flownews-posts-layout2 .article-comments,
.flownews-rtl .flownews-element-posts .article-comments {
	margin-right:20px;
	margin-left:0;
}
.flownews-rtl .flownews-element-posts.flownews-posts-layout2 .article-data {
	margin-right:0;
}

/* WIDGET */
.flownews-rtl .fnwp-widget h4.widget-title, 
.flownews-rtl .fnwp-widget h3.widget-title, 
.flownews-rtl .widget h3 {
	text-align:right;
}
.flownews-rtl .flownews_widget.fnwp_slider_posts .category a {
	float:none;
	margin-right:0;
}
.flownews-rtl .flownews_widget.fnwp_slider_posts .box-text h3 {
	margin:0;
}
.flownews-rtl .flownews_widget.fnwp_slider_posts .box-text .data i {
	margin-right:0;
	margin-left:10px;
}	
.flownews-rtl .flownews_widget.fnwp_social .box_social {
	text-align:left;
}

/* POST */
.flownews-rtl .related-item-container.flownews-element-posts i {
	margin-right:0;
	margin-left:8px;	
}
.flownews-rtl .navigation-post {
	text-align:left;
}

/* NEWS TICKER Top Content */
.flownews-rtl .news-ticker-item .news-ticker-item-category, 
.flownews-rtl .news-ticker-item .news-ticker-item-title, 
.flownews-rtl .news-ticker-item .news-ticker-item-date {
	float:right;
	text-align:right;
}
.flownews-rtl .flownews-top-news-ticker.owl-carousel .owl-stage-outer {
	float:left;
}
.flownews-rtl .flownews-top-news-ticker.owl-theme .owl-controls .owl-nav .owl-prev {
	margin-left:0px;
}
.flownews-rtl .flownews-top-news-ticker.owl-theme .owl-controls .owl-nav .owl-next {
	margin-right:-30px;
}
.flownews-rtl .news-ticker-item .news-ticker-item-title a {
	margin-right:10px;
}

/* HEADER Bottom */
.flownews-rtl .flownews-search-menu-button {
	border-right:0;
	text-align:left;
}
.flownews-rtl .flownews-search form {
	left:0;
}
.flownews-rtl nav > ul {
	border-left:0;
	margin-right:0;
}
.flownews-rtl .flownews-menu .menu-item-object-category .flownews-mega-menu {
	right:0;
	left:inherit;
}
.flownews-rtl nav li:hover > ul.submenu > li:hover > ul.submenu {
	right:231px;
	left:inherit;
}
.flownews-rtl nav li:hover > ul.submenu, nav li:hover > .submenu {
	text-align:left;
}
.flownews-rtl .submenu > li.menu-item-has-children > a:after {
	content:'';
}
.flownews-rtl .flownews-menu > li.menu-item-has-children > a:before,
.flownews-rtl .submenu > li.menu-item-has-children > a:before {
    font-family: 'flownews-FontAwesome' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 11px;
}	
.flownews-rtl .submenu > li.menu-item-has-children > a:before {
	content: "\f104";
    font-size: 12px;
    margin-right: 10px;
}
.flownews-rtl .flownews-mega-menu .flownews-menu-category.owl-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
	margin-left:-80px;
}
.flownews-rtl .flownews-mega-menu .flownews-menu-category.owl-carousel.owl-theme .owl-controls .owl-nav .owl-next {
	margin-left:60px;
}
.flownews-rtl .flownews-mega-menu .flownews-menu-category.owl-carousel.owl-theme i {
	margin-right:0;
	margin-left:8px;
}
.flownews-rtl .flownews-menu .flownews-element-posts .article-title a {
	text-align:right;
}