/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/

.flownews-vc-element-posts-tab article {
	position:relative;
	line-height:1;
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts-tab article:nth-child(1),
.flownews-vc-element-posts-tab article:nth-child(2),
.flownews-vc-element-posts-tab article:nth-child(3) {
	margin-top:0;
	border:0;
}
.flownews-vc-element-posts-tab article:nth-child(3n+1) {
	clear:both;
}
.flownews-vc-element-posts-tab article h2 {
	line-height:1;
}
.flownews-vc-element-posts-tab .article-image {
	position:relative;
}
.flownews-vc-element-posts-tab .article-title a {
    text-transform: uppercase;
	font-size:22px;
	display:block;
}
.flownews-vc-element-posts-tab .article-category {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 0;	
}
.flownews-vc-element-posts-tab .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
	display:inline-block;
	margin-right:2px;
}
.flownews-vc-element-posts-tab .article-data,
.flownews-vc-element-posts-tab .article-comments,
.flownews-vc-element-posts-tab .article-separator {
	float:left;
}
.flownews-vc-element-posts-tab .article-data {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-right: 20px;	
}
.flownews-vc-element-posts-tab .article-comments {
	margin-left:20px;
    font-size: 12px;
    letter-spacing: 0.5px;	
}
.flownews-vc-element-posts-tab i {
	margin-right:8px;
}
.flownews-vc-element-posts-tab .article-category i {
	margin-right:0;
}
.flownews-vc-element-posts-tab .article-read-more i {
	margin-left:10px;
	margin-right:0;
}
.flownews-vc-element-posts-tab .article-info-top {
	margin-top:15px;
}
.flownews-vc-element-posts-tab h3 a {
	margin:25px 0 10px;
}
.flownews-vc-element-posts-tab-title-box {
    height: 35px;
    margin: 0 0 25px;
    position: relative;
    text-align: left;
}
.flownews-vc-element-posts-tab-title-box h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
    left: 0;
	letter-spacing: 1.5px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -1px;
    transition: color 0.3s ease 0s;
	margin:0;
}
.flownews-vc-element-posts-tab-title-tabs {
	position:absolute;
	right:0;
	top:-1px;
}
.flownews-vc-element-posts-tab-title-tabs span {
    font-size: 14px;
	letter-spacing: 1.5px;
	display: inline-block;
	font-weight: 600;
	line-height: 35px;
	cursor:pointer;
	margin-right:2px;
	padding:0 10px;    
	height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
	transition: background 0.3s ease 0s;
}
.flownews-vc-element-posts-tab-title-tabs span:last-child {
	margin-right:0;
}
.flownews-vc-element-posts-tab-title-tabs .fnwp_tab_active,
.flownews-vc-element-posts-tab-title-tabs span:hover {
	transition: background 0.3s ease 0s;
}
.flownews-vc-element-posts-tab {
	margin-left:-12.5px;
	width: calc(100% + 25px);
}
.flownews-vc-element-posts-tab h3 a {
	font-size: 20px;
    margin: 15px 0 0;
}
.flownews-vc-element-posts-tab .flownews-vc-element-posts-title-box.title-box-1 {
	margin-left:12.5px;
	width: calc(100% - 25px);
}
.flownews-vc-element-posts-tab .item-posts.first-element-posts.col-xs-4 {
    margin: 0 12.5px 25px;
	width: calc(33.3333% - 25px);
}
.flownews-vc-element-posts-tab .article-comments, 
.flownews-vc-element-posts-tab .article-data, 
.flownews-vc-element-posts-tab .article-separator  {
    font-size: 11px;
}
.flownews-vc-element-posts-tab .article-comments {
	margin-left:12px;
}
.flownews-vc-element-posts-tab .article-data {
	margin-right:12px;
}
.flownews-vc-element-posts-tab .article-category a.article-icon-link {
    padding: 6px 8px;
}
.flownews-vc-element-posts-tab .article-category a.article-icon-link i {
	font-size:9px;
}
.flownews-vc-element-posts-tab .article-category a {
	display: block;
	float:left;
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts-tab .item-posts.first-element-posts.col-xs-4 {
		width:100%;
		margin:0;
	}
	.flownews-vc-element-posts-tab {
		margin-left:0;
		width: 100%;
	}
	.flownews-vc-element-posts-tab-title-box {
		height:auto;
		border:0;
		margin:0;
	}
	.flownews-vc-element-posts-tab-title-box h2,
	.flownews-vc-element-posts-tab-title-tabs {
		position:relative;
	}
	.flownews-vc-element-posts-tab-title-tabs {
		margin-top:20px;
	}
	.flownews-vc-element-posts-tab-title-tabs span {
		margin-top:3px;
	}
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article:nth-child(2),
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article:nth-child(3) {
		padding-top:25px;
		margin-top:25px !important;
	}
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article {
		margin-top:25px !important;
	}
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article:nth-child(1) {
		padding:0;
	}
}