/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
0. Postsosts General CSS
1. Posts Type 1
	1.1 Posts Type 1: Responsive
2. Posts Type 2
	2.1 Posts Type 2: Responsive
3. Posts Type 3
	3.1 Posts Type 3: Responsive
4. Posts Type 4
	4.1 Posts Type 4: Responsive
5. Posts Type 5
	5.1 Posts Type 5: Responsive	
*/
/*------------------------------------------------------------------
[0. Posts General CSS]
*/
.flownews-vc-element-posts-carousel article {
	position:relative;
	line-height:1;
	margin-bottom: 25px;
}
.flownews-vc-element-posts-carousel article h2 {
	line-height:1;
}
.flownews-vc-element-posts-carousel .article-image {
	position:relative;
}
.flownews-vc-element-posts-carousel .article-title a {
    text-transform: uppercase;
	font-size:28px;
	display:block;
}
.related-item-container.flownews-vc-element-posts-carousel .article-title a {
	font-size:22px;
}
.flownews-vc-element-posts-carousel .article-category {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 0;	
}
.flownews-vc-element-posts-carousel .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
	display:inline-block;
	margin-right:2px;
}
.flownews-vc-element-posts-carousel .article-data,
.flownews-vc-element-posts-carousel .article-comments,
.flownews-vc-element-posts-carousel .article-separator {
	float:left;
}
.flownews-vc-element-posts-carousel .article-data {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-right: 20px;	
}
.flownews-vc-element-posts-carousel .article-comments {
	margin-left:20px;
    font-size: 12px;
    letter-spacing: 0.5px;	
}
.flownews-vc-element-posts-carousel .article-category i {
	margin-right:0;
}
.flownews-vc-element-posts-carousel .article-read-more i {
	margin-left:10px;
	margin-right:0;
}
.flownews-vc-element-posts-carousel .article-info-top {
	margin-top:15px;
}
.flownews-vc-element-posts-carousel h3 a {
	margin:20px 0 10px;
}
.flownews-vc-element-posts-carousel-title-box {
    height: 35px;
    margin: 0 0 25px;
    position: relative;
    text-align: left;
}
.flownews-vc-element-posts-carousel-title-box h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
    left: 0;
	letter-spacing: 1.5px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -1px;
    transition: color 0.3s ease 0s;
	margin:0;
}
.flownews-vc-element-posts-carousel #flownews-load-posts {
    margin-top: 50px;
    text-align: center;
}
.flownews-vc-element-posts-carousel #flownews-load-posts a {
    padding: 10px 20px;
    text-transform: uppercase;
	transition: all 0.3s ease 0s;
	letter-spacing:1px;
	display:inline-block;
}
.flownews-vc-element-posts-carousel #flownews-load-posts a:hover {
	transition: all 0.3s ease 0s;
}
.flownews-vc-element-posts-carousel .owl-nav {
    margin-top: -8px;
    position: absolute;
    width: 100%;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background:none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
}
.flownews-vc-element-posts-carousel .owl-dots {
    margin: 0 auto;
    position: relative;
    width: 70%;
    z-index: 1;
}
.flownews-vc-element-posts-carousel .owl-dot {
	margin:0 5px;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-dots .owl-dot span {
    display: block;
	border-radius:0;
    height: 5px;
    margin: 5px;
    transition: all 200ms ease 0s;
    width: 5px;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-prev {
    float: left;
	padding-left: 11px !important;
    padding-right: 11px !important
}
.flownews-vc-element-posts-carousel.owl-theme .owl-next {
    float: right;
	padding-left: 11px !important;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
	transition: all 0.3s ease 0s;
}
/*------------------------------------------------------------------
[2. general setting carousel 3/4/5/6/7/8/9 columns]
*/
.flownews-vc-element-posts-carousel-item-show-3 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-3 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-4 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-4 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-5 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-5 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-6 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-6 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-7 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-7 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-8 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-8 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-9 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-9 .article-info-top .article-comments  {
	display:none;
}
.flownews-vc-element-posts-carousel-item-show-3 .article-title a {
	font-size:20px;
}
.flownews-vc-element-posts-carousel-item-show-4 .article-title a {
	font-size:18px;
}
.flownews-vc-element-posts-carousel-item-show-5 .article-title a,
.flownews-vc-element-posts-carousel-item-show-6 .article-title a,
.flownews-vc-element-posts-carousel-item-show-7 .article-title a,
.flownews-vc-element-posts-carousel-item-show-8 .article-title a,
.flownews-vc-element-posts-carousel-item-show-9 .article-title a {
	font-size:14px;
}
.flownews-vc-element-posts-carousel-item-show-5 .article-data {
	font-size:11px;
}
.flownews-vc-element-posts-carousel-item-show-6 .article-data,
.flownews-vc-element-posts-carousel-item-show-7 .article-data,
.flownews-vc-element-posts-carousel-item-show-8 .article-data,
.flownews-vc-element-posts-carousel-item-show-9 .article-data {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-5 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-6 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-7 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-8 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-9 .article-category a {
    font-size: 8px;
	line-height:1.2;
}
.flownews-vc-element-posts-carousel-item-show-5 h3 a,
.flownews-vc-element-posts-carousel-item-show-6 h3 a,
.flownews-vc-element-posts-carousel-item-show-7 h3 a,
.flownews-vc-element-posts-carousel-item-show-8 h3 a,
.flownews-vc-element-posts-carousel-item-show-9 h3 a {
	margin-top:10px;
}
.flownews-vc-element-posts-carousel-item-show-5 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-6 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-7 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-8 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-9 .article-info-top {
    margin-top: 8px;
}



/*------------------------------------------------------------------
[1. Posts Type 1]
*/
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 article h3 a {
	margin-bottom:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-article-container article:first-child, 
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-category a {
	font-size:13px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-pagination-normal {
    margin-left: 12.5px;
    width: calc(100% - 25px);
}
.flownews-posts-carousel-type1 .item-posts.first-element-posts .article-info-top i {
    margin-right: 8px;
}
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 {
		width: 100%;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (max-width: 799px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-comments,
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-separator {
		display:block;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-separator {
		margin-left:20px;
	}
}
@media screen and (min-width: 800px) and (max-width: 870px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-comments,
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-separator {
		display:none;
	}
}

/*------------------------------------------------------------------
[2. Posts Type 2]
*/
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2:after {
	clear:both;
	content:"";
	display:block;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 {
	margin-bottom:50px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article {
	position:relative;
	line-height:1;
	background:#000000;
	overflow:hidden;	
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article h2 {
	line-height:1;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info {
	position:absolute;
	bottom:30px;
	left:30px;
	z-index:2;
	margin-left:0;
	transition: all 0.4s ease 0s;
	right:30px;
	max-width:calc(100% - 45px);
	max-width:-webkit-calc(100% - 45px);
	width:100%;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-info {
	bottom: 20px;
    left: 20px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-info,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-info {
	bottom: 15px;
    left: 15px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article:hover .article-info {
	left:45px;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 article:hover .article-info,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 article:hover .article-info,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 article:hover .article-info {
	left:30px;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .header-pattern {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article img {
	opacity:1;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article:hover img {
	opacity:0.8;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-top {
	margin-bottom:15px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-info-top,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-info-top,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-info-top,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-info-top {
	margin-bottom:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title {
    float:left;
    margin: 0;
	line-height: 30px;
	/*margin-right:25px;*/
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a {
    /*color: #ffffff;*/
    font-weight: bold;
    text-transform: uppercase;
	font-size:30px;
	display:block;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-title a {
    font-size: 18px;
    line-height: 1.2;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-title a {
    font-size: 15px;
    line-height: 1.2;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-8 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-9 .article-title a {
    font-size: 13px;
    line-height: 1.2;
}
/*
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a:hover {
	color:#e7685d;
}*/	
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-category {
    line-height: 30px;
	float:left;
	position:relative;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-8 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-9 .article-category {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-category a {
    padding: 5px 8px;
	font-size:9px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-category a {
    padding: 4px 6px;
	font-size:8px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-separator {
	float:left;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-data {
	margin-right:20px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-comments {
	margin-left:20px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-data {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-comments {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-separator
 {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom {
    font-size: 13px;
    margin-right: 20px;
	letter-spacing:0.4px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom i {
	margin-right:10px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.owl-carousel .owl-controls {
	opacity:0;
	transition: opacity 0.3s ease 0s;
	height:0;
	margin:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-top h2 {
	margin-bottom:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a {
	margin-right:10px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.owl-carousel:hover .owl-controls {
	opacity:1;
	transition: opacity 0.3s ease 0s;
}
/*
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-controls i {
	background: #fff;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 40px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-prev i {
	left:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-next i {
	right:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-controls i {
	transition: all 0.3s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-controls i:hover {
	transition: all 0.3s ease 0s;
}*/
@media screen and (max-width: 600px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title {
		float:none;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom {
		display:none;
	}	
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom {
		display:none;
	}
}