/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
0. Header General CSS
1. Header Type 1
	1.1 Header Type 1: Responsive
2. Header Type 2
	2.1 Header Type 2: Responsive
3. Header Type 3
	3.1 Header Type 3: Responsive	
*/
/*------------------------------------------------------------------
[0. Header General CSS]
*/
.flownews-vc-element-header article {
	position:relative;
	line-height:1;
}
.flownews-vc-element-header article h2 {
	line-height:1;
}
.flownews-vc-element-header .article-info {
	position:absolute;
	bottom:30px;
	left:30px;
	z-index:2;
	margin-left:0;
	transition: all 0.4s ease 0s;
	right:30px;
	max-width:calc(100% - 45px);
	max-width:-webkit-calc(100% - 45px);
	width:100%;
}
.flownews-vc-element-header article:hover .article-info {
	left:45px;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-header .header-pattern {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.flownews-vc-element-header article img {
	opacity:1;
	transition: all 0.4s ease 0s;
	width:100%;
}
.flownews-vc-element-header article:hover img {
	opacity:0.8;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-header .article-info-top {
	margin-bottom:15px;
}
.flownews-vc-element-header .article-title {
    float:left;
    margin: 0;
	line-height: 30px;
	margin-right:25px;
}
.flownews-vc-element-header .article-title a {
    font-weight: bold;
    text-transform: uppercase;
	font-size:30px;
	display:block;
}
.flownews-vc-element-header .article-category {
    line-height: 30px;
	float:left;
}
.flownews-vc-element-header .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
}
.flownews-vc-element-header .article-data,
.flownews-vc-element-header .article-comments,
.flownews-vc-element-header .article-separator {
	float:left;
}
.flownews-vc-element-header .article-data {
	margin-right:20px;
}
.flownews-vc-element-header .article-comments {
	margin-left:20px;
}
.flownews-vc-element-header .article-info-bottom {
    font-size: 13px;
    margin-right: 20px;
	letter-spacing:0.4px;
}
.flownews-vc-element-header .article-info-bottom i {
	margin-right:10px;
}
.flownews-vc-element-header {
	margin-bottom:50px;
}
/*------------------------------------------------------------------
[1. Header Type 1]
*/
.flownews-header-type1 {
	height:400px;
	overflow:hidden;
}
.flownews-header-type1 article {
	height:100%;
	overflow:hidden;
	background:#000000;
}
.flownews-header-type1 article.col-xs-5 {
	height:248px;
	max-width:calc(41.66666667% - 4px);
	max-width:-webkit-calc(41.66666667% - 4px);
	width:41.66666667%;
	margin-left:4px;
	margin-bottom:4px;
}
.flownews-header-type1 article.col-xs-2 {
	height:150px;
	max-width:calc(20.833333335% - 4px);
	max-width:-webkit-calc(20.833333335% - 4px);
	width:20.833333335%;
	margin-left:4px;
}
.flownews-header-type1 .article-info {
	position:absolute;
	bottom:30px;
	left:30px;
	z-index:2;
	margin-left:0;
	transition: all 0.4s ease 0s;
	right:30px;
	max-width:calc(100% - 45px);
	max-width:-webkit-calc(100% - 45px);
	width:100%;
}
.flownews-header-type1 article:hover .article-info {
	left:45px;
	transition: all 0.4s ease 0s;
}
.flownews-header-type1 .header-pattern {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.flownews-header-type1 .article-info-top h2 {
	margin-right:10px;
	margin-bottom:0;
}
.flownews-header-type1 article img {
	opacity:1;
	width: 100%;
	transition: all 0.4s ease 0s;
}
.flownews-header-type1 article:hover img {
	opacity:0.8;
	transition: all 0.4s ease 0s;
}
.flownews-header-type1 .article-info-top {
	margin-bottom:15px;
}
.flownews-header-type1 .article-title {
    float:left;
    margin: 0;
	line-height: 30px;
	margin-right:25px;
}
.flownews-header-type1 .article-title a {
    font-weight: bold;
    text-transform: uppercase;
	font-size:30px;
	display:block;
}
.flownews-header-type1 .article-category {
    line-height: 30px;
	float:left;
}
.flownews-header-type1 .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:5px;
}
.flownews-header-type1 .article-data,
.flownews-header-type1 .article-comments,
.flownews-header-type1 .article-separator {
	float:left;
}
.flownews-header-type1 .article-data {
	margin-right:20px;
}
.flownews-header-type1 .article-comments {
	margin-left:20px;
}
.flownews-header-type1 .article-info-bottom {
    font-size: 13px;
    margin-right: 20px;
	letter-spacing:0.4px;
}
.flownews-header-type1 .article-info-bottom i {
	margin-right:10px;
}
.flownews-header-type1 .second-element-header .article-title {
	line-height:22px;
}
.flownews-header-type1 .second-element-header .article-title a {
	font-size:22px;
}
.flownews-header-type1 .second-element-header .article-category a {
	margin-top: 3px;
    padding: 4px 10px;
}
.flownews-header-type1 .others-element-header .article-title {
	line-height:16px;
}
.flownews-header-type1 .others-element-header .article-title a {
	font-size:16px;
}
.flownews-header-type1 .others-element-header .article-category a {
	padding: 3px 10px;
	margin-top:7px;
	font-size:8px;
}
/* 
[1.1 Header Type 1: Responsive] 
*/
@media screen and (max-width: 1200px) {
	.flownews-header-type1 {
		height:350px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:220px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:130px;
	}	
}
@media screen and (max-width: 1150px) {
	.flownews-header-type1 {
		height:300px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:180px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:120px;
	}
	.flownews-header-type1 .others-element-header .article-info-bottom {
		display:none;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
	.flownews-header-type1 .others-element-header .article-info {
		bottom:0;
	}
}
@media screen and (min-width: 810px) and (max-width: 1000px) {
	.flownews-header-type1 {
		height:250px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:150px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:100px;
	}
	.flownews-header-type1 .others-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		transition: all 0.4s ease 0s;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
		transition: all 0.4s ease 0s;
	}
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-separator,
	.flownews-header-type1 .second-element-header .article-comments {
		display:none;
	}
}
@media screen and (min-width: 650px) and (max-width: 810px) {
	.flownews-header-type1 {
		height:200px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:130px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:70px;
	}
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
	}	
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-info-bottom,
	.flownews-header-type1 .second-element-header .article-category a,
	.flownews-header-type1 .first-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type1 .second-element-header .article-title {
		line-height:14px;
	}
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:14px;
	}
	.flownews-header-type1 .others-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .others-element-header .article-title a {
		font-size:10px;
	}	
}
@media screen and (max-width: 650px) {
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-info-bottom,
	.flownews-header-type1 .second-element-header .article-category a,
	.flownews-header-type1 .first-element-header .article-info-bottom {
		display:none;
	}
}
@media screen and (min-width: 530px) and (max-width: 650px) {
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type1 {
		height:auto;
	}
	.flownews-header-type1 .col-xs-7 {
		width:100%;
		height:250px;
		margin-bottom:4px;
	}
	.flownews-header-type1 article.col-xs-5 {
		width:34%;
		max-width:34%;
		margin-left:0;
		height:80px;
	}
	.flownews-header-type1 article.col-xs-2 {
		max-width:calc(33% - 4px);
		max-width:-webkit-calc(33% - 4px);
		width:33%;
		margin-left:4px;
		height:80px;
	}
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-info-bottom,
	.flownews-header-type1 .second-element-header .article-category a,
	.flownews-header-type1 .first-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type1 .second-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:10px;
	}
	.flownews-header-type1 .others-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .others-element-header .article-title a {
		font-size:10px;
	}	
}
@media screen and (min-width: 400px) and (max-width: 529px) {
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type1 {
		height:auto;
	}
	.flownews-header-type1 .col-xs-7 {
		width:100%;
		height:200px;
		margin-bottom:4px;
	}
	.flownews-header-type1 article.col-xs-5 {
		width:100%;
		max-width:100%;
		height:150px;
		margin-bottom:4px;
		margin-left:0;
		margin-right:0;
	}
	.flownews-header-type1 article.col-xs-2 {
		max-width:calc(50% - 2px);
		max-width:-webkit-calc(50% - 2px);
		width:50%;
		height:100px;
		margin-right:2px;
		margin-left:0;
	}
	.flownews-header-type1 article.col-xs-2:last-child {
		margin-left:2px;
		margin-right:0px;
	}	
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a {
		display:none;
	}
	.flownews-header-type1 .second-element-header .article-title {
		line-height:22px;
	}
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:22px;
	}
	.flownews-header-type1 .others-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .others-element-header .article-title a {
		font-size:10px;
	}	
}
@media screen and (max-width: 399px) {
	.flownews-header-type1 {
		height:auto;
	}	
	.flownews-header-type1 .col-xs-7,
	.flownews-header-type1 article.col-xs-5, 
	.flownews-header-type1 article.col-xs-2 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}
	.flownews-header-type1 .article-title {
		float:none;
	}
	.flownews-header-type1 .first-element-header .article-title a,
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type1 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type1 .article-info-bottom {
		display:none;
	}	
}
/*------------------------------------------------------------------
[2. Header Type 2]
*/
.flownews-header-type2 article {
	background:#000000;
}
.flownews-header-type2 .first-element-header {
	height:500px;
	overflow:hidden;
	margin-bottom:6px;
}
.flownews-header-type2 .others-element-header {
	width:33.33333333%;
	max-width:calc(33.33333333% - 4px);
	max-width:-webkit-calc(33.33333333% - 4px);
}
.flownews-header-type2 article:nth-child(2) {
	margin-right:4px;
}
.flownews-header-type2 article:nth-child(3) {
	margin-right:2px;
	margin-left:2px;
}
.flownews-header-type2 article:nth-child(4) {
	margin-left:4px;
}
.flownews-header-type2 .first-element-header img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.flownews-header-type2  .article-info-top h2 {
	margin-right:10px;
	margin-bottom:5px;
}
.flownews-header-type2 .first-element-header .article-title a {
	font-size:42px;
	line-height:42px;
}
.flownews-header-type2 .first-element-header .article-category a {
	margin-top: 8px;
    padding: 10px 15px;
}
.flownews-header-type2 .others-element-header .article-title {
	line-height:22px;
}
.flownews-header-type2 .others-element-header .article-title a {
	font-size:22px;
}
.flownews-header-type2 .others-element-header .article-category a {
	margin-top: 3px;
    padding: 4px 10px;
}
/* 
[2.1 Header Type 2: Responsive] 
*/
@media screen and (max-width: 1100px) {
	.flownews-header-type2 .others-element-header .article-separator {
		display:none;
	}
	.flownews-header-type2 .others-element-header .article-data,
	.flownews-header-type2 .others-element-header .article-comments	{
		float:none;
		display:block;
		margin:0;
	}
	.flownews-header-type2 .others-element-header .article-comments	{
		margin-top:3px;
	}
}
@media screen and (min-width: 550px) and (max-width: 900px) {
	.flownews-header-type2 .first-element-header {
		height:300px;
	}
	.flownews-header-type2 .others-element-header .article-title {
		line-height:15px;
	}
	.flownews-header-type2 .others-element-header .article-title a {
		font-size:15px;
	}
	.flownews-header-type2 .others-element-header .article-category a {
		padding: 3px 10px;
		margin-top: 8px;
	}
	.flownews-header-type2 .others-element-header .article-info-bottom,
	.flownews-header-type2 .others-element-header .article-category a {
		display:none;
	}	
}
@media screen and (max-width: 549px) {
	.flownews-header-type2 {
		height:auto;
	}	
	.flownews-header-type2 .col-xs-12,
	.flownews-header-type2 article.col-xs-4 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}	
	.flownews-header-type2 .first-element-header img {
		top:0;
		transform:translateY(0);
	}	
	.flownews-header-type2 .article-title {
		float:none;
	}
	.flownews-header-type2 .first-element-header .article-title a,
	.flownews-header-type2 .others-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type2 .article-category a,
	.flownews-header-type2 .first-element-header .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type2 .article-info-bottom {
		display:none;
	}
}
@media screen and (max-width: 850px) {
	.flownews-header-type2 .first-element-header .article-info-bottom {
		display:none;
	}
}
/*------------------------------------------------------------------
[3. Header Type 3]
*/
.flownews-header-type3 .first-element-header {
	height:500px;
	overflow:hidden;
	margin-bottom:6px;
}
.flownews-header-type3 .others-element-header {
	width:33.33333333%;
	max-width:calc(33.33333333% - 4px);
	max-width:-webkit-calc(33.33333333% - 4px);
	height:100px;
	overflow:hidden;
}
.flownews-header-type3 article:nth-child(2) {
	margin-right:4px;
}
.flownews-header-type3 article:nth-child(3) {
	margin-right:2px;
	margin-left:2px;
}
.flownews-header-type3 article:nth-child(4) {
	margin-left:4px;
}
.flownews-header-type3 .first-element-header img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.flownews-header-type3 .first-element-header .article-title a {
	font-size:42px;
	line-height:42px;
	margin-right:10px;
}
.flownews-header-type3 .first-element-header .article-category a {
    margin-top: 8px;
    padding: 10px 15px;
}
.flownews-header-type3 .others-element-header img {
	width:40%;
	float:left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}
.flownews-header-type3 article.others-element-header:hover img{
	opacity:1;
}
.flownews-header-type3 .others-element-header .article-info-type3 {
	width:60%;
	float:left;
	padding:20px;
	box-sizing:border-box;
	height:100%;
}
.flownews-header-type3 .others-element-header .article-info-type3 .article-info-top {
	height:100%;
	overflow:hidden;
}
.flownews-header-type3 .others-element-header .article-title {
	line-height:18px;
	width:100%;
}
.flownews-header-type3 .others-element-header .article-title a {
	font-size:18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:95%;
}
.flownews-header-type3 .others-element-header .article-category a {
	padding: 3px 10px;
	margin-top: 8px;
}
/* 
[3.1 Header Type 3: Responsive] 
*/
@media screen and (min-width: 800px) and (max-width: 900px) {
	.flownews-header-type3 .first-element-header {
		height:300px;
	}
	.flownews-header-type3 .others-element-header {
		height:80px;
	}
	.flownews-header-type3 .others-element-header .article-title {
		line-height:14px;
	}	
	.flownews-header-type3 .others-element-header .article-title a {
		font-size:14px;
	}
}
@media screen and (max-width: 900px) {
	.flownews-header-type3 .others-element-header .article-title {
		margin-bottom:0;
	}
}
@media screen and (max-width: 799px) {
	.flownews-header-type3 .first-element-header {
		height:auto;
	}
	.flownews-header-type3 .first-element-header img {
		top:0;
		transform:translateY(0);		
	}
	.flownews-header-type3 article.col-xs-4 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}
	.flownews-header-type3 .others-element-header img {
		float:none;
		width:100%;
		top:0;
		transform:translateY(0);		
	}
	.flownews-header-type3 .others-element-header .article-info-type3 {
		float:none;
		width:100%;
	}
	.flownews-header-type3 .others-element-header .article-title {
		float:none;
		margin:0;
	}
	.flownews-vc-element-header .article-info-top {
		margin:0;	
	}
	.flownews-header-type3 .first-element-header .article-info-bottom {
		display:none;
	}
}
/*------------------------------------------------------------------
[4. Header Type 4]
*/
.flownews-header-type4.owl-carousel .owl-controls {
	opacity:0;
	transition: opacity 0.3s ease 0s;
	height:0;
	margin:0;
}
.flownews-header-type4 .article-title a {
	margin-right:10px;
}
.flownews-header-type4 .article-info-top h2 {
	margin-bottom:0;
}
.flownews-header-type4.owl-carousel:hover .owl-controls {
	opacity:1;
	transition: opacity 0.3s ease 0s;
}
.flownews-header-type4.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background:none;
}
.flownews-header-type4 .owl-controls i {
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 40px;
}
.flownews-header-type4 .owl-prev i {
	left:0;
}
.flownews-header-type4 .owl-next i {
	right:0;
}
@media screen and (max-width: 600px) {
	.flownews-header-type4 .article-title {
		float:none;
	}
	.flownews-header-type4 .first-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type4 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type4 .article-info-bottom {
		display:none;
	}	
}
@media screen and (max-width: 800px) {
	.flownews-header-type4 .first-element-header .article-info-bottom {
		display:none;
	}
}
/*------------------------------------------------------------------
[5. Header Type 5]
*/
.flownews-header-type5 {
	height:400px;
	overflow:hidden;
}
.flownews-header-type5 article {
	height:100%;
	overflow:hidden;
	background:#000000;
}
.flownews-header-type5 article.col-xs-5 {
	height:198px;
	max-width:calc(41.66666667% - 4px);
	max-width:-webkit-calc(41.66666667% - 4px);
	width:41.66666667%;
	margin-left:4px;
	margin-bottom:4px;
}
.flownews-vc-element-header.flownews-header-type5 .article-category a {
    margin-top: 5px;
    padding: 6px 10px;
}
.flownews-vc-element-header.flownews-header-type5 .article-info-top h2 {
	margin-right:10px;
}
.flownews-vc-element-header.flownews-header-type5 .article-info-top h2 {
	margin-bottom:5px;
}
@media screen and (max-width: 1200px) {
	.flownews-header-type5 {
		height:350px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:175px;
	}
}
@media screen and (max-width: 1100px) {
	.flownews-header-type5 {
		height:300px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:150px;
	}
	.flownews-header-type5 .second-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:20px;
	}	
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:20px;
	}
	.flownews-vc-element-header.flownews-header-type5  .article-category a {
		display:inherit;
	}
	.flownews-vc-element-header.flownews-header-type5 .article-title {
		float:none;
	}
}
@media screen and (max-width: 1100px) {
	.flownews-header-type5 {
		height:300px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:150px;
	}
	.flownews-header-type5 .second-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:20px;
	}	
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:20px;
	}	
}
@media screen and (min-width: 650px) and (max-width: 810px) {
	.flownews-header-type5 {
		height:200px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:100px;
	}
	.flownews-header-type5 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type5 article:hover .article-info {
		left:10px;
	}	
	.flownews-header-type5 .second-element-header .article-info-bottom,
	.flownews-header-type5 .second-element-header .article-category a {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:14px;
	}
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:14px;
	}
}
@media screen and (max-width: 805px) {
	.flownews-header-type5 .first-element-header .article-info-bottom {
		display:none;
	}
}
@media screen and (min-width: 530px) and (max-width: 650px) {
	.flownews-header-type5 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type5 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type5 {
		height:auto;
	}
	.flownews-header-type5 .col-xs-7 {
		width:100%;
		height:250px;
		margin-bottom:4px;
	}
	.flownews-header-type5 article.col-xs-5 {
		max-width:calc(50% - 2px);
		max-width:-webkit-calc(50% - 2px);
		width:50%;
		margin-right:2px;
		margin-left:0;
		height:80px;
	}
	.flownews-header-type5 article.col-xs-5:last-child {
		margin-left:2px;
		margin-right:0px;
	}	
	.flownews-header-type5 .second-element-header .article-info-bottom,
	.flownews-header-type5 .second-element-header .article-category a {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:10px;
	}	
	.flownews-header-type5 .article-info-bottom {
		display:none;
	}		
}
@media screen and (min-width: 400px) and (max-width: 529px) {
	.flownews-header-type5 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type5 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type5 {
		height:auto;
	}
	.flownews-header-type5 .col-xs-7 {
		width:100%;
		height:200px;
		margin-bottom:4px;
	}
	.flownews-header-type5 article.col-xs-5 {
		width:100%;
		max-width:100%;
		height:150px;
		margin-bottom:4px;
		margin-left:0;
		margin-right:0;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:22px;
	}
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:22px;
	}
	.flownews-header-type5 .article-info-bottom {
		display:none;
	}		
}
@media screen and (max-width: 399px) {
	.flownews-header-type5 {
		height:auto;
	}	
	.flownews-header-type5 .col-xs-7,
	.flownews-header-type5 article.col-xs-5, 
	.flownews-header-type5 article.col-xs-2 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}
	.flownews-header-type5 .article-title {
		float:none;
	}
	.flownews-header-type5 .first-element-header .article-title a,
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type5 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type5 .article-info-bottom {
		display:none;
	}	
}

/* News Ticker */
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-category,
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-title,
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-date {
	float:left;
	text-align:left;
}
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-title {
	width:70%;
}	
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-category a {
	background: #e7685d none repeat scroll 0 0;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 6px 10px;
	text-transform: uppercase;
	display:block;
	line-height:1;
	margin:5px 5px 0 0;
}
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-title a {
	color: #333333;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
	line-height:1;
    text-transform: uppercase;
	transition: color 0.3s ease 0s;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width:95%;
	text-align:left;
	line-height:32px;
}
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-title a:hover {
	color: #e7685d;
	transition: color 0.3s ease 0s;
}
.flownews-top-news-ticker-addon .news-ticker-item .news-ticker-item-date {
	color: #333333;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-left: 20px;
    text-transform: uppercase;
}
.flownews-top-news-ticker-addon.owl-carousel .owl-stage-outer {
    float: left;
	width: 90%;
}
.flownews-top-news-ticker-addon.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    color: #333333;
	background:none;
    padding: 0 5px;
	line-height:1;
    transition: color 0.3s ease 0s;
}
.flownews-top-news-ticker-addon {
	height:32px;
}
.flownews-top-news-ticker-addon.owl-theme .owl-controls {
    margin-top: 0px;
	text-align: right;	
	float:left;
	width:10%;
}



/*style 2*/

.flownews-top-news-ticker-addon.flownews-newsticker-type2.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none;
    border: 1px solid #f4f4f4;
    color: #333333;
    height: 23px;
    line-height: 19px;
    margin-left: 5px;
    margin-top: 4px;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 23px;
}
.flownews-top-news-ticker-addon.flownews-newsticker-type2.owl-theme .owl-controls .owl-nav .owl-prev:hover,
.flownews-top-news-ticker-addon.flownews-newsticker-type2.owl-theme .owl-controls .owl-nav .owl-next:hover {
    background: #e7685d;
	color:#ffffff;
	border:1px solid #e7685d;
	transition: all 0.3s ease 0s;
}
.flownews-top-news-ticker-addon.flownews-newsticker-type2.owl-carousel.owl-theme.owl-loaded {
    border: 1px solid #f4f4f4;
    height: 45px;
    padding: 6px 10px;
}



/*style 3*/

.flownews-top-news-ticker.flownews-newsticker-type3 {
	border: 1px solid #f4f4f4;
    height: 45px;
    padding: 6px 10px;
}

.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-content a {
	color: #333333;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
	line-height:1;
    text-transform: uppercase;
	transition: color 0.3s ease 0s;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width:95%;
	text-align:left;
	line-height:32px;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker {
    background: none;
    display: block;
    overflow: hidden;
    position: relative;
    width: 90%;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-title {
	background: none;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-swipe {
	background:#ffffff;
	border-left:1px solid #333333;
	margin-top:5px;
	width:100%;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-content {
    padding-top: 0;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .left .ticker-controls {
    margin: 4px 0 0;
    width: 10%;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls {
    float: left;
    margin-top: 0;
    text-align: right;
    width: 10%;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls li {
    background: none;
    border: 1px solid #f4f4f4;
    color: #333333;
    height: 23px;
    line-height: 19px;
    margin-left: 5px;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 23px;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls li:hover {
    background: #e7685d;
    border: 1px solid #e7685d;
    transition: all 0.3s ease 0s;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls li a:hover {
	color:#ffffff;
    transition: all 0.3s ease 0s;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls li.jnt-prev::before,
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls li.jnt-next::before {
	color:#333333;
	line-height:20px;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls li.jnt-prev:hover::before,
.flownews-top-news-ticker.flownews-newsticker-type3 .ticker-controls li.jnt-next:hover::before {
	color:#ffffff;
	line-height:20px;
	transition: all 0.3s ease 0s;
}
.flownews-top-news-ticker.flownews-newsticker-type3 .left .ticker-controls {
	text-align:right;
}

/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
0. Postsosts General CSS
1. Posts Type 1
	1.1 Posts Type 1: Responsive
2. Posts Type 2
	2.1 Posts Type 2: Responsive
3. Posts Type 3
	3.1 Posts Type 3: Responsive
4. Posts Type 4
	4.1 Posts Type 4: Responsive
5. Posts Type 5
	5.1 Posts Type 5: Responsive	
*/
/*------------------------------------------------------------------
[0. Posts General CSS]
*/
.flownews-vc-element-posts {
	margin-bottom:50px;
}
.flownews-vc-element-posts:last-child {
	margin-bottom:0;
}
.flownews-vc-element-posts article {
	position:relative;
	line-height:1;
}
.flownews-vc-element-posts article h2 {
	line-height:1;
}
.flownews-vc-element-posts .article-image {
	position:relative;
}
.flownews-vc-element-posts .article-title a {
    text-transform: uppercase;
	font-size:28px;
	display:block;
}
.flownews-vc-element-posts .article-category {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 0;	
}
.flownews-vc-element-posts .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1.2;
	margin-top:4px;
	display:inline-block;
	margin-right:2px;
}
.flownews-vc-element-posts .article-data,
.flownews-vc-element-posts .article-comments,
.flownews-vc-element-posts .article-separator {
	float:left;
}
.flownews-vc-element-posts .article-data {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-right: 20px;	
}
.flownews-vc-element-posts .article-comments {
	margin-left:20px;
    font-size: 12px;
    letter-spacing: 0.5px;	
}
.flownews-vc-element-posts img {
	width:100%;
}
.flownews-vc-element-posts i {
	margin-right:8px;
}
.flownews-vc-element-posts .article-category i {
	margin-right:0;
}
.flownews-vc-element-posts .article-read-more i {
	margin-left:10px;
	margin-right:0;
}
.flownews-vc-element-posts .article-info-top {
	margin-top:15px;
}
.flownews-vc-element-posts h3 a {
	margin:20px 0 10px;
}
.flownews-vc-element-posts-title-box {
    height: 35px;
    margin: 0 0 25px;
    position: relative;
    text-align: left;
}
.flownews-vc-element-posts-title-box h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
    left: 0;
	letter-spacing: 1.5px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -1px;
    transition: color 0.3s ease 0s;
	margin:0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width:95%;
}
.flownews-vc-element-posts #flownews-load-posts {
    margin-top: 50px;
    text-align: center;
}
.flownews-vc-element-posts #flownews-load-posts a {
    padding: 10px 20px;
    text-transform: uppercase;
	transition: all 0.3s ease 0s;
	letter-spacing:1px;
	display:inline-block;
}
.flownews-vc-element-posts #flownews-load-posts a:hover {
	transition: all 0.3s ease 0s;
}
.flownews-vc-pagination {
	margin-top:50px;
	width: calc(100% - 12.5px);
}
.flownews-vc-pagination a {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
/*.flownews-vc-pagination .fnwp-pagination-numeric-arrow:last-child {
	float:right;
}*/
.flownews-vc-pagination a:last-child {
	float:right;
}   
.flownews-vc-pagination a:hover {
	transition: all 0.3s ease 0s;
}
.fnwp-numeric-pagination {
    text-align: center;
}
.fnwp-numeric-pagination .inactive {
    font-size: 12px;
    line-height: 1;
    margin: 0 2px;
    padding: 10px 13px;
	float:none!important;
}
.fnwp-numeric-pagination .current {
    font-size: 12px;
    line-height: 1;
    margin: 0 2px;
    padding: 10px 14px;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.fnwp-numeric-pagination i {
    font-size: 12px;
    line-height: 1;
    padding: 10px 14px;
	margin-right: 0;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.fnwp-numeric-pagination .fnwp-icon-left {
	margin-right:34px;
}
.fnwp-numeric-pagination .fnwp-icon-right {
	margin-left:34px;
}
.fnwp-numeric-pagination i:hover {
    transition: all 0.3s ease 0s;
}
a.fnwp-pagination-numeric-arrow {
	border:none;
	padding:0;
	margin:0;
}
a.fnwp-pagination-numeric-arrow:hover {
	background:none;
}
.fnwp-numeric-pagination .flownewsicon.fa-angle-double-left {
    margin-right: 4px;
}
.fnwp-numeric-pagination .flownewsicon.fa-angle-double-right {
    margin-left: 4px;
}
.flownews-pagination .fnwp-numeric-pagination a:last-child {
    float: none !important;
}
@media screen and (max-width: 700px) {
	.flownews-vc-pagination a {
		margin-bottom:10px;
	}
}
@media screen and (max-width: 400px) {
	.flownews-vc-element-posts .flownews-pagination-normal {
		width: 100% !important;
	}
}
/*------------------------------------------------------------------
[1. Posts Type 1]
*/
.flownews-posts-type1 .col-xs-8 {
	max-width: calc(66.66666667% - 25px);
	max-width: -webkit-calc(66.66666667% - 25px);
	margin-right:25px;
	border-bottom:1px solid #f4f4f4;
	height:500px;
}
.flownews-posts-type1 .others-element-header .article-image {
	height:80px;
	float:left;
	width:40%;
	overflow:hidden;
}
.flownews-vc-element-posts.flownews-posts-type1 .others-element-header .article-info-top {
	margin-top:0;
}
.flownews-posts-type1 .col-xs-4 .article-info {
	float:left;
	width:60%;
	overflow:hidden;
	padding:5px 0 10px 10px;
}
.flownews-posts-type1 h3 {
	margin:0 0 10px;
}
.flownews-vc-element-posts.flownews-posts-type1 .others-element-header .article-data {
    font-size: 11px;
	margin-right:10px;
}
.flownews-posts-type1 .col-xs-4 .article-title a {
	font-size:14px;
	margin:0;
}
.flownews-posts-type1 article.col-xs-4 {
	padding: 10px!important;
	height:100px;
}
.flownews-posts-type1 .first-element-posts .article-image {
	height:300px;
	overflow:hidden;
}
.flownews-posts-type1 .first-element-posts .article-info {
	height:200px;
	overflow:hidden;	
}
.flownews-posts-type1 .first-element-posts p {
	margin-bottom:25px;
}
/* 
[1.1. Posts Type 1: Responsive] 
*/
@media screen and (min-width: 900px) and (max-width: 1149px) {
	.flownews-posts-type1 .first-element-posts .article-image {
		height: auto;
		overflow:hidden;
	}	
	.flownews-vc-element-posts.flownews-posts-type1 .others-element-header .article-data {
		display:none;
	}
	.flownews-posts-type1 .col-xs-4 .article-info {
		padding: 5px 0 0 10px;
	}
}
@media screen and (max-width: 900px) {
	
	.flownews-posts-type1 .col-xs-8,
	.flownews-posts-type1 article.col-xs-4 {
		width:100%;
		max-width:100%;
	}
	.flownews-posts-type1 article.col-xs-4 {
		padding:10px 0!important;
		border-top:0;
		border-left:0;
		border-right:0;
	}
	.flownews-posts-type1 .col-xs-8,
	.flownews-posts-type1 .first-element-posts .article-image {
		height:auto;
	}
	.flownews-posts-type1 .first-element-posts .article-info {
		height:auto;
	}
	.flownews-posts-type1 article.col-xs-4 {
		height: 180px;
		padding: 10px !important;
	}
	.flownews-posts-type1 .others-element-header .article-image {
		height:160px;
	}
	.flownews-posts-type1 .col-xs-4 .article-info {
		padding: 10px 0 10px 25px;
	}
}
@media screen and (max-width: 700px) {
	/*
	.flownews-posts-type1 .first-element-posts .article-image {
		height:200px;
	}*/
}
@media screen and (max-width: 480px) {
	.flownews-posts-type1 article.col-xs-4 {
		height: 100px;
	}
	.flownews-posts-type1 .others-element-header .article-image {
		height:80px;
	}
}
/*------------------------------------------------------------------
[2. Posts Type 2]
*/
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col {
	margin-left:-12.5px;
	width: calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box {
    height: 35px;
    margin: 0 0 25px 12.5px;
    position: relative;
    text-align: left;
    width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-1-col article,
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col article {
	margin-bottom:25px;
}

.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .vc-element-post-odd {
	padding-right:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .vc-element-post-even {
	padding-left:12.5px!important;
}

.flownews-vc-element-posts.flownews-posts-type2 h3 a {
	font-size: 20px;
    margin: 15px 0 0;
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-1-col h3 a {
	font-size: 32px;
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box.title-box-1 {
	margin-left:12.5px;
	width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(1),
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(3) {
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4 {
    margin: 25px 12.5px 0;
	width: calc(33.3333% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type2 .article-comments, 
.flownews-vc-element-posts.flownews-posts-type2 .article-data, 
.flownews-vc-element-posts.flownews-posts-type2 .article-separator  {
    font-size: 11px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-comments {
	margin-left:12px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-data {
	margin-right:12px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-category a.article-icon-link {
    padding: 6px 8px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-category a.article-icon-link i {
	font-size:9px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-category a {
	display: block;
	float:left;
}
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type2 .article-image img {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2 .flownews-vc-element-posts-title-box.title-box-1 {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4 {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col {
		margin-left: -12.5px;
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(3) {
		margin-top:25px;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box.title-box-1 {
		width:100%;
		margin-left:0;
	}
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .article-comments {
		display:none;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .article-separator {
		display:none;
	}
}
@media screen and (min-width: 701px) and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .article-comments {
		display:none;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .article-separator {
		display:none;
	}
}
@media screen and (max-width: 400px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-1-col h3 a {
		font-size: 20px;
	}	
}
@media screen and (max-width: 550px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .col-xs-6 {
		width: 100%;
		padding:0!important;
	}	
}

/*------------------------------------------------------------------
[3. Posts Type 3]
*/
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-1-col .item-posts.first-element-posts {
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-1-col .item-posts.first-element-posts:first-child {
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-odd {
	padding-right:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-even {
	padding-left:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type3 article h3 a {
	margin-bottom:0;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article {
    margin-right: 25px;
    width: calc(33.33333333% - 25px);
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type3 .article-category a {
	font-size:13px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-category a {
	font-size:10px;
	padding:5px 8px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-info-top {
    margin-top: 12px;
}
.flownews-vc-element-posts.flownews-posts-type3 .flownews-pagination-normal {
    width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width: calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col article h3 a {
	font-size:20px;
	margin-top:15px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-comments,
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-separator {
	display:none;
}	
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-odd,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-even {
		padding-left:0!important;
		padding-right:0!important;
	}
	.flownews-vc-element-posts.flownews-posts-type3 .article-image img {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 701px) and (max-width: 870px) {
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .article-separator,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-separator	{
		display:none;
	}
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width: 100%;
	}	
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4:first-child	{
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type3 .article-image img {
		width: 100%;
	}	
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
	.flownews-vc-element-posts.flownews-posts-type3 .article-category a {
		font-size:10px;
		padding: 4px 7px;
	}	
}

/*------------------------------------------------------------------
[4. Posts Type 4]
*/
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-1-col .item-posts.first-element-posts {
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-1-col .item-posts.first-element-posts:first-child {
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-odd {
	padding-right:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-even {
	padding-left:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article {
    margin-right: 25px;
    width: calc(33.33333333% - 25px);
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type4 .article-category a {
	font-size:13px;
}
.flownews-vc-element-posts.flownews-posts-type4 .flownews-pagination-normal {
    width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width: calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col article h3 a {
	font-size:20px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-comments,
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-separator {
	display:none;
}	
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-odd,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-even {
		padding-left:0!important;
		padding-right:0!important;
	}
	.flownews-vc-element-posts.flownews-posts-type4 .article-image img {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 701px) and (max-width: 870px) {
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .article-separator,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-separator	{
		display:none;
	}
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width: 100%;
	}	
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4:first-child	{
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type4 .article-image img {
		width: 100%;
	}	
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
	.flownews-vc-element-posts.flownews-posts-type4 .article-category a {
		font-size:10px;
		padding: 4px 7px;
	}	
}

/*------------------------------------------------------------------
[5. Posts Type 5]
*/
.flownews-posts-type5 .article-category {
	display:block;
	position:relative;
	margin-top: 10px;
}
.flownews-vc-element-posts.flownews-posts-type5 .article-title a {
	font-size:18px;
}
.flownews-vc-element-posts.flownews-posts-type5 .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-article-container article:first-child,
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-posts-type5.flownews-vc-posts-1-col .article-info.col-xs-7 {
    padding: 0 0 0 25px!important;
}
.flownews-posts-type5.flownews-vc-posts-2-col .article-info.col-xs-7,
.flownews-posts-type5.flownews-vc-posts-3-col .article-info.col-xs-7 {
    padding: 0 15px!important;
}
.flownews-posts-type5 h3 a {
	margin-top:0;
}
.flownews-posts-type5 .article-info-top {
    margin-top: 0;
}
.flownews-vc-element-posts.flownews-posts-type5 .article-excerpt {
	margin-top: 10px;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .article-title a {
	font-size:28px;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .article-image,
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .article-info.col-xs-7 {
	width:100%;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .article-info.col-xs-7 {
	padding:0!important;
	margin-top:10px;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width:calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col article {
	margin-right:25px;
	width:calc(33.33333333% - 25px);
}

@media screen and (max-width: 1200px) {
	.flownews-vc-element-posts.flownews-posts-type5 .article-data {
		display:none;
	}
}
@media screen and (max-width: 950px) {
	.flownews-vc-element-posts.flownews-posts-type5 .article-data {
		display:inherit;
	}
	.flownews-vc-element-posts.flownews-posts-type5.item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type5 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type5 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 801px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
}
@media screen and (min-width: 951px) and (max-width: 1024px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .article-title a {
		font-size:22px;
	}
}
@media screen and (max-width: 950px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .flownews-vc-element-posts-article-container article [class*="col-"] {
		width: 100%;
		padding:0!important;
	}
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .article-image img {
		width: 100%;
		margin-bottom:15px;
	}	
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col article {
		margin-right:25px;
		width:100%;
	}	
	.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-article-container > [class*="col-"] {
		width: 100%;
		padding-top: 25px;
		margin-top:25px;		
	}
	.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-article-container img {
		width:100%;
	}	
}
@media screen and (max-width: 400px) {
	.flownews-vc-element-posts.flownews-posts-type5 .article-data {
		display:none;
	}
}
/*------------------------------------------------------------------
[6. Posts Type 6]
*/
.flownews-vc-element-posts.flownews-posts-type6 .article-title a {
	font-size:28px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .article-title a {
	font-size:24px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .others-post .article-title a {
	font-size:18px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container {
	width:calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col article {
	margin-right:25px;
	width:calc(50% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:first-child,
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-1-col .flownews-vc-element-posts-article-container article:nth-child(3),  
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2), 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(4), 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(5) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	margin-bottom:50px;
}

.flownews-posts-type6.flownews-vc-posts-1-col .article-info.col-xs-7 {
    padding: 0 0 0 25px!important;
}
.flownews-posts-type6.flownews-vc-posts-2-col .article-info.col-xs-7,
.flownews-posts-type6.flownews-vc-posts-3-col .article-info.col-xs-7 {
    padding: 0 15px!important;
}
.flownews-posts-type6 .item-posts.first-element-posts .article-info.col-xs-7 h3 a {
	margin-top:0;
}
.flownews-posts-type6 .article-excerpt {
	margin-top:10px;
}
.flownews-posts-type6 .item-posts.first-element-posts .article-info.col-xs-7 .article-info-top {
    margin-top: 0;
}
.flownews-posts-type6 .item-posts.first-element-posts .article-info.col-xs-7 .article-category {
	position:inherit;
	margin-top:10px;
}
.flownews-vc-element-posts.flownews-posts-type6 .article-category a {
	font-size:13px;
}
.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 .article-info.col-xs-7 .article-category a {
	font-size:10px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child,
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
	border-top:0;
	padding-top:0;
	margin-top:0;
	margin-bottom:0;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width:calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col article {
	margin-right:25px;
	width:calc(33.33333333% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .article-title a {
	font-size:18px;
}
.flownews-posts-type6.flownews-vc-posts-3-col .item-posts.first-element-posts.others-post .article-info.col-xs-7 h3 a {
	margin-top:15px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .article-separator,
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .article-comments {
	display:none;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .others-post .article-image, 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .others-post .article-info.col-xs-7 {
	width:100%;
	padding:0!important;
}
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type6.item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:-25px;
		margin-bottom:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:nth-child(4) {
		padding-top: 25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:nth-child(5) {
		margin-top: 25px;
		padding-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
	.flownews-vc-element-posts.flownews-posts-type6 .others-post .article-title a {
		font-size:22px;
	}	
}
@media screen and (max-width: 1000px) {
	.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts .article-image {
		margin-bottom: 15px;
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts .article-image img {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .article-info.col-xs-7 {
		width:100%;
		padding:0 !important;
	}
}
@media screen and (max-width: 900px) {
	.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 .article-info .article-info-top .article-comments,
	.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 .article-info .article-info-top .article-separator {
		display:none;
	}
}
@media screen and (max-width: 950px) {
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col article {
		margin-right:0px;
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(4) {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}	
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(5) {
		margin-top: 25px;
		padding-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col article {
		margin-right:0px;
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child {
		margin-bottom:25px;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		padding-top: 25px;
		margin-top:0px;
		margin-bottom:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		margin-bottom:0px;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .item-posts.first-element-posts .article-image {
		margin-bottom:0;
	}
}

/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
0. Postsosts General CSS
1. Posts Type 1
	1.1 Posts Type 1: Responsive
2. Posts Type 2
	2.1 Posts Type 2: Responsive
3. Posts Type 3
	3.1 Posts Type 3: Responsive
4. Posts Type 4
	4.1 Posts Type 4: Responsive
5. Posts Type 5
	5.1 Posts Type 5: Responsive	
*/
/*------------------------------------------------------------------
[0. Posts General CSS]
*/
.flownews-vc-element-posts-carousel article {
	position:relative;
	line-height:1;
	margin-bottom: 25px;
}
.flownews-vc-element-posts-carousel article h2 {
	line-height:1;
}
.flownews-vc-element-posts-carousel .article-image {
	position:relative;
}
.flownews-vc-element-posts-carousel .article-title a {
    text-transform: uppercase;
	font-size:28px;
	display:block;
}
.related-item-container.flownews-vc-element-posts-carousel .article-title a {
	font-size:22px;
}
.flownews-vc-element-posts-carousel .article-category {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 0;	
}
.flownews-vc-element-posts-carousel .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
	display:inline-block;
	margin-right:2px;
}
.flownews-vc-element-posts-carousel .article-data,
.flownews-vc-element-posts-carousel .article-comments,
.flownews-vc-element-posts-carousel .article-separator {
	float:left;
}
.flownews-vc-element-posts-carousel .article-data {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-right: 20px;	
}
.flownews-vc-element-posts-carousel .article-comments {
	margin-left:20px;
    font-size: 12px;
    letter-spacing: 0.5px;	
}
.flownews-vc-element-posts-carousel .article-category i {
	margin-right:0;
}
.flownews-vc-element-posts-carousel .article-read-more i {
	margin-left:10px;
	margin-right:0;
}
.flownews-vc-element-posts-carousel .article-info-top {
	margin-top:15px;
}
.flownews-vc-element-posts-carousel h3 a {
	margin:20px 0 10px;
}
.flownews-vc-element-posts-carousel-title-box {
    height: 35px;
    margin: 0 0 25px;
    position: relative;
    text-align: left;
}
.flownews-vc-element-posts-carousel-title-box h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
    left: 0;
	letter-spacing: 1.5px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -1px;
    transition: color 0.3s ease 0s;
	margin:0;
}
.flownews-vc-element-posts-carousel #flownews-load-posts {
    margin-top: 50px;
    text-align: center;
}
.flownews-vc-element-posts-carousel #flownews-load-posts a {
    padding: 10px 20px;
    text-transform: uppercase;
	transition: all 0.3s ease 0s;
	letter-spacing:1px;
	display:inline-block;
}
.flownews-vc-element-posts-carousel #flownews-load-posts a:hover {
	transition: all 0.3s ease 0s;
}
.flownews-vc-element-posts-carousel .owl-nav {
    margin-top: -8px;
    position: absolute;
    width: 100%;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background:none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
}
.flownews-vc-element-posts-carousel .owl-dots {
    margin: 0 auto;
    position: relative;
    width: 70%;
    z-index: 1;
}
.flownews-vc-element-posts-carousel .owl-dot {
	margin:0 5px;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-dots .owl-dot span {
    display: block;
	border-radius:0;
    height: 5px;
    margin: 5px;
    transition: all 200ms ease 0s;
    width: 5px;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-prev {
    float: left;
	padding-left: 11px !important;
    padding-right: 11px !important
}
.flownews-vc-element-posts-carousel.owl-theme .owl-next {
    float: right;
	padding-left: 11px !important;
}
.flownews-vc-element-posts-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
	transition: all 0.3s ease 0s;
}
/*------------------------------------------------------------------
[2. general setting carousel 3/4/5/6/7/8/9 columns]
*/
.flownews-vc-element-posts-carousel-item-show-3 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-3 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-4 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-4 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-5 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-5 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-6 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-6 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-7 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-7 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-8 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-8 .article-info-top .article-comments,
.flownews-vc-element-posts-carousel-item-show-9 .article-info-top .article-separator,
.flownews-vc-element-posts-carousel-item-show-9 .article-info-top .article-comments  {
	display:none;
}
.flownews-vc-element-posts-carousel-item-show-3 .article-title a {
	font-size:20px;
}
.flownews-vc-element-posts-carousel-item-show-4 .article-title a {
	font-size:18px;
}
.flownews-vc-element-posts-carousel-item-show-5 .article-title a,
.flownews-vc-element-posts-carousel-item-show-6 .article-title a,
.flownews-vc-element-posts-carousel-item-show-7 .article-title a,
.flownews-vc-element-posts-carousel-item-show-8 .article-title a,
.flownews-vc-element-posts-carousel-item-show-9 .article-title a {
	font-size:14px;
}
.flownews-vc-element-posts-carousel-item-show-5 .article-data {
	font-size:11px;
}
.flownews-vc-element-posts-carousel-item-show-6 .article-data,
.flownews-vc-element-posts-carousel-item-show-7 .article-data,
.flownews-vc-element-posts-carousel-item-show-8 .article-data,
.flownews-vc-element-posts-carousel-item-show-9 .article-data {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-5 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-6 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-7 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-8 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1.flownews-vc-element-posts-carousel-item-show-9 .article-category a {
    font-size: 8px;
	line-height:1.2;
}
.flownews-vc-element-posts-carousel-item-show-5 h3 a,
.flownews-vc-element-posts-carousel-item-show-6 h3 a,
.flownews-vc-element-posts-carousel-item-show-7 h3 a,
.flownews-vc-element-posts-carousel-item-show-8 h3 a,
.flownews-vc-element-posts-carousel-item-show-9 h3 a {
	margin-top:10px;
}
.flownews-vc-element-posts-carousel-item-show-5 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-6 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-7 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-8 .article-info-top,
.flownews-vc-element-posts-carousel-item-show-9 .article-info-top {
    margin-top: 8px;
}



/*------------------------------------------------------------------
[1. Posts Type 1]
*/
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 article h3 a {
	margin-bottom:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-article-container article:first-child, 
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-category a {
	font-size:13px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-pagination-normal {
    margin-left: 12.5px;
    width: calc(100% - 25px);
}
.flownews-posts-carousel-type1 .item-posts.first-element-posts .article-info-top i {
    margin-right: 8px;
}
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .flownews-vc-element-posts-carousel-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 {
		width: 100%;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (max-width: 799px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-comments,
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-separator {
		display:block;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-separator {
		margin-left:20px;
	}
}
@media screen and (min-width: 800px) and (max-width: 870px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-comments,
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type1 .article-info-top .article-separator {
		display:none;
	}
}

/*------------------------------------------------------------------
[2. Posts Type 2]
*/
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2:after {
	clear:both;
	content:"";
	display:block;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 {
	margin-bottom:50px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article {
	position:relative;
	line-height:1;
	background:#000000;
	overflow:hidden;	
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article h2 {
	line-height:1;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info {
	position:absolute;
	bottom:30px;
	left:30px;
	z-index:2;
	margin-left:0;
	transition: all 0.4s ease 0s;
	right:30px;
	max-width:calc(100% - 45px);
	max-width:-webkit-calc(100% - 45px);
	width:100%;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-info {
	bottom: 20px;
    left: 20px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-info,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-info {
	bottom: 15px;
    left: 15px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article:hover .article-info {
	left:45px;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 article:hover .article-info,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 article:hover .article-info,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 article:hover .article-info {
	left:30px;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .header-pattern {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article img {
	opacity:1;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 article:hover img {
	opacity:0.8;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-top {
	margin-bottom:15px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-info-top,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-info-top,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-info-top,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-info-top {
	margin-bottom:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title {
    float:left;
    margin: 0;
	line-height: 30px;
	/*margin-right:25px;*/
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a {
    /*color: #ffffff;*/
    font-weight: bold;
    text-transform: uppercase;
	font-size:30px;
	display:block;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-title a {
    font-size: 18px;
    line-height: 1.2;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-title a {
    font-size: 15px;
    line-height: 1.2;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-8 .article-title a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-9 .article-title a {
    font-size: 13px;
    line-height: 1.2;
}
/*
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a:hover {
	color:#e7685d;
}*/	
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-category {
    line-height: 30px;
	float:left;
	position:relative;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-8 .article-category,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-9 .article-category {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-category a {
    padding: 5px 8px;
	font-size:9px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-category a,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-category a {
    padding: 4px 6px;
	font-size:8px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-separator {
	float:left;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-data {
	margin-right:20px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-comments {
	margin-left:20px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-data,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-data {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-comments,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-comments {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-3 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-4 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-5 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-6 .article-separator,
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.flownews-vc-element-posts-carousel-item-show-7 .article-separator
 {
	display:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom {
    font-size: 13px;
    margin-right: 20px;
	letter-spacing:0.4px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom i {
	margin-right:10px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.owl-carousel .owl-controls {
	opacity:0;
	transition: opacity 0.3s ease 0s;
	height:0;
	margin:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-top h2 {
	margin-bottom:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a {
	margin-right:10px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.owl-carousel:hover .owl-controls {
	opacity:1;
	transition: opacity 0.3s ease 0s;
}
/*
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-controls i {
	background: #fff;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 40px;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-prev i {
	left:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-next i {
	right:0;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background:none;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-controls i {
	transition: all 0.3s ease 0s;
}
.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .owl-controls i:hover {
	transition: all 0.3s ease 0s;
}*/
@media screen and (max-width: 600px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title {
		float:none;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom {
		display:none;
	}	
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts-carousel.flownews-posts-carousel-type2 .article-info-bottom {
		display:none;
	}
}

/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/

.flownews-vc-element-posts-tab article {
	position:relative;
	line-height:1;
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts-tab article:nth-child(1),
.flownews-vc-element-posts-tab article:nth-child(2),
.flownews-vc-element-posts-tab article:nth-child(3) {
	margin-top:0;
	border:0;
}
.flownews-vc-element-posts-tab article:nth-child(3n+1) {
	clear:both;
}
.flownews-vc-element-posts-tab article h2 {
	line-height:1;
}
.flownews-vc-element-posts-tab .article-image {
	position:relative;
}
.flownews-vc-element-posts-tab .article-title a {
    text-transform: uppercase;
	font-size:22px;
	display:block;
}
.flownews-vc-element-posts-tab .article-category {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 0;	
}
.flownews-vc-element-posts-tab .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
	display:inline-block;
	margin-right:2px;
}
.flownews-vc-element-posts-tab .article-data,
.flownews-vc-element-posts-tab .article-comments,
.flownews-vc-element-posts-tab .article-separator {
	float:left;
}
.flownews-vc-element-posts-tab .article-data {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-right: 20px;	
}
.flownews-vc-element-posts-tab .article-comments {
	margin-left:20px;
    font-size: 12px;
    letter-spacing: 0.5px;	
}
.flownews-vc-element-posts-tab i {
	margin-right:8px;
}
.flownews-vc-element-posts-tab .article-category i {
	margin-right:0;
}
.flownews-vc-element-posts-tab .article-read-more i {
	margin-left:10px;
	margin-right:0;
}
.flownews-vc-element-posts-tab .article-info-top {
	margin-top:15px;
}
.flownews-vc-element-posts-tab h3 a {
	margin:25px 0 10px;
}
.flownews-vc-element-posts-tab-title-box {
    height: 35px;
    margin: 0 0 25px;
    position: relative;
    text-align: left;
}
.flownews-vc-element-posts-tab-title-box h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
    left: 0;
	letter-spacing: 1.5px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -1px;
    transition: color 0.3s ease 0s;
	margin:0;
}
.flownews-vc-element-posts-tab-title-tabs {
	position:absolute;
	right:0;
	top:-1px;
}
.flownews-vc-element-posts-tab-title-tabs span {
    font-size: 14px;
	letter-spacing: 1.5px;
	display: inline-block;
	font-weight: 600;
	line-height: 35px;
	cursor:pointer;
	margin-right:2px;
	padding:0 10px;    
	height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
	transition: background 0.3s ease 0s;
}
.flownews-vc-element-posts-tab-title-tabs span:last-child {
	margin-right:0;
}
.flownews-vc-element-posts-tab-title-tabs .fnwp_tab_active,
.flownews-vc-element-posts-tab-title-tabs span:hover {
	transition: background 0.3s ease 0s;
}
.flownews-vc-element-posts-tab {
	margin-left:-12.5px;
	width: calc(100% + 25px);
}
.flownews-vc-element-posts-tab h3 a {
	font-size: 20px;
    margin: 15px 0 0;
}
.flownews-vc-element-posts-tab .flownews-vc-element-posts-title-box.title-box-1 {
	margin-left:12.5px;
	width: calc(100% - 25px);
}
.flownews-vc-element-posts-tab .item-posts.first-element-posts.col-xs-4 {
    margin: 0 12.5px 25px;
	width: calc(33.3333% - 25px);
}
.flownews-vc-element-posts-tab .article-comments, 
.flownews-vc-element-posts-tab .article-data, 
.flownews-vc-element-posts-tab .article-separator  {
    font-size: 11px;
}
.flownews-vc-element-posts-tab .article-comments {
	margin-left:12px;
}
.flownews-vc-element-posts-tab .article-data {
	margin-right:12px;
}
.flownews-vc-element-posts-tab .article-category a.article-icon-link {
    padding: 6px 8px;
}
.flownews-vc-element-posts-tab .article-category a.article-icon-link i {
	font-size:9px;
}
.flownews-vc-element-posts-tab .article-category a {
	display: block;
	float:left;
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts-tab .item-posts.first-element-posts.col-xs-4 {
		width:100%;
		margin:0;
	}
	.flownews-vc-element-posts-tab {
		margin-left:0;
		width: 100%;
	}
	.flownews-vc-element-posts-tab-title-box {
		height:auto;
		border:0;
		margin:0;
	}
	.flownews-vc-element-posts-tab-title-box h2,
	.flownews-vc-element-posts-tab-title-tabs {
		position:relative;
	}
	.flownews-vc-element-posts-tab-title-tabs {
		margin-top:20px;
	}
	.flownews-vc-element-posts-tab-title-tabs span {
		margin-top:3px;
	}
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article:nth-child(2),
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article:nth-child(3) {
		padding-top:25px;
		margin-top:25px !important;
	}
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article {
		margin-top:25px !important;
	}
	.flownews-vc-element-posts-tab .fnwp-vc-element-posts-tab-container article:nth-child(1) {
		padding:0;
	}
}