/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
0. Postsosts General CSS
1. Posts Type 1
	1.1 Posts Type 1: Responsive
2. Posts Type 2
	2.1 Posts Type 2: Responsive
3. Posts Type 3
	3.1 Posts Type 3: Responsive
4. Posts Type 4
	4.1 Posts Type 4: Responsive
5. Posts Type 5
	5.1 Posts Type 5: Responsive	
*/
/*------------------------------------------------------------------
[0. Posts General CSS]
*/
.flownews-vc-element-posts {
	margin-bottom:50px;
}
.flownews-vc-element-posts:last-child {
	margin-bottom:0;
}
.flownews-vc-element-posts article {
	position:relative;
	line-height:1;
}
.flownews-vc-element-posts article h2 {
	line-height:1;
}
.flownews-vc-element-posts .article-image {
	position:relative;
}
.flownews-vc-element-posts .article-title a {
    text-transform: uppercase;
	font-size:28px;
	display:block;
}
.flownews-vc-element-posts .article-category {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 0;	
}
.flownews-vc-element-posts .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1.2;
	margin-top:4px;
	display:inline-block;
	margin-right:2px;
}
.flownews-vc-element-posts .article-data,
.flownews-vc-element-posts .article-comments,
.flownews-vc-element-posts .article-separator {
	float:left;
}
.flownews-vc-element-posts .article-data {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-right: 20px;	
}
.flownews-vc-element-posts .article-comments {
	margin-left:20px;
    font-size: 12px;
    letter-spacing: 0.5px;	
}
.flownews-vc-element-posts img {
	width:100%;
}
.flownews-vc-element-posts i {
	margin-right:8px;
}
.flownews-vc-element-posts .article-category i {
	margin-right:0;
}
.flownews-vc-element-posts .article-read-more i {
	margin-left:10px;
	margin-right:0;
}
.flownews-vc-element-posts .article-info-top {
	margin-top:15px;
}
.flownews-vc-element-posts h3 a {
	margin:20px 0 10px;
}
.flownews-vc-element-posts-title-box {
    height: 35px;
    margin: 0 0 25px;
    position: relative;
    text-align: left;
}
.flownews-vc-element-posts-title-box h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
    left: 0;
	letter-spacing: 1.5px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -1px;
    transition: color 0.3s ease 0s;
	margin:0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width:95%;
}
.flownews-vc-element-posts #flownews-load-posts {
    margin-top: 50px;
    text-align: center;
}
.flownews-vc-element-posts #flownews-load-posts a {
    padding: 10px 20px;
    text-transform: uppercase;
	transition: all 0.3s ease 0s;
	letter-spacing:1px;
	display:inline-block;
}
.flownews-vc-element-posts #flownews-load-posts a:hover {
	transition: all 0.3s ease 0s;
}
.flownews-vc-pagination {
	margin-top:50px;
	width: calc(100% - 12.5px);
}
.flownews-vc-pagination a {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
/*.flownews-vc-pagination .fnwp-pagination-numeric-arrow:last-child {
	float:right;
}*/
.flownews-vc-pagination a:last-child {
	float:right;
}   
.flownews-vc-pagination a:hover {
	transition: all 0.3s ease 0s;
}
.fnwp-numeric-pagination {
    text-align: center;
}
.fnwp-numeric-pagination .inactive {
    font-size: 12px;
    line-height: 1;
    margin: 0 2px;
    padding: 10px 13px;
	float:none!important;
}
.fnwp-numeric-pagination .current {
    font-size: 12px;
    line-height: 1;
    margin: 0 2px;
    padding: 10px 14px;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.fnwp-numeric-pagination i {
    font-size: 12px;
    line-height: 1;
    padding: 10px 14px;
	margin-right: 0;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.fnwp-numeric-pagination .fnwp-icon-left {
	margin-right:34px;
}
.fnwp-numeric-pagination .fnwp-icon-right {
	margin-left:34px;
}
.fnwp-numeric-pagination i:hover {
    transition: all 0.3s ease 0s;
}
a.fnwp-pagination-numeric-arrow {
	border:none;
	padding:0;
	margin:0;
}
a.fnwp-pagination-numeric-arrow:hover {
	background:none;
}
.fnwp-numeric-pagination .flownewsicon.fa-angle-double-left {
    margin-right: 4px;
}
.fnwp-numeric-pagination .flownewsicon.fa-angle-double-right {
    margin-left: 4px;
}
.flownews-pagination .fnwp-numeric-pagination a:last-child {
    float: none !important;
}
@media screen and (max-width: 700px) {
	.flownews-vc-pagination a {
		margin-bottom:10px;
	}
}
@media screen and (max-width: 400px) {
	.flownews-vc-element-posts .flownews-pagination-normal {
		width: 100% !important;
	}
}
/*------------------------------------------------------------------
[1. Posts Type 1]
*/
.flownews-posts-type1 .col-xs-8 {
	max-width: calc(66.66666667% - 25px);
	max-width: -webkit-calc(66.66666667% - 25px);
	margin-right:25px;
	border-bottom:1px solid #f4f4f4;
	height:500px;
}
.flownews-posts-type1 .others-element-header .article-image {
	height:80px;
	float:left;
	width:40%;
	overflow:hidden;
}
.flownews-vc-element-posts.flownews-posts-type1 .others-element-header .article-info-top {
	margin-top:0;
}
.flownews-posts-type1 .col-xs-4 .article-info {
	float:left;
	width:60%;
	overflow:hidden;
	padding:5px 0 10px 10px;
}
.flownews-posts-type1 h3 {
	margin:0 0 10px;
}
.flownews-vc-element-posts.flownews-posts-type1 .others-element-header .article-data {
    font-size: 11px;
	margin-right:10px;
}
.flownews-posts-type1 .col-xs-4 .article-title a {
	font-size:14px;
	margin:0;
}
.flownews-posts-type1 article.col-xs-4 {
	padding: 10px!important;
	height:100px;
}
.flownews-posts-type1 .first-element-posts .article-image {
	height:300px;
	overflow:hidden;
}
.flownews-posts-type1 .first-element-posts .article-info {
	height:200px;
	overflow:hidden;	
}
.flownews-posts-type1 .first-element-posts p {
	margin-bottom:25px;
}
/* 
[1.1. Posts Type 1: Responsive] 
*/
@media screen and (min-width: 900px) and (max-width: 1149px) {
	.flownews-posts-type1 .first-element-posts .article-image {
		height: auto;
		overflow:hidden;
	}	
	.flownews-vc-element-posts.flownews-posts-type1 .others-element-header .article-data {
		display:none;
	}
	.flownews-posts-type1 .col-xs-4 .article-info {
		padding: 5px 0 0 10px;
	}
}
@media screen and (max-width: 900px) {
	
	.flownews-posts-type1 .col-xs-8,
	.flownews-posts-type1 article.col-xs-4 {
		width:100%;
		max-width:100%;
	}
	.flownews-posts-type1 article.col-xs-4 {
		padding:10px 0!important;
		border-top:0;
		border-left:0;
		border-right:0;
	}
	.flownews-posts-type1 .col-xs-8,
	.flownews-posts-type1 .first-element-posts .article-image {
		height:auto;
	}
	.flownews-posts-type1 .first-element-posts .article-info {
		height:auto;
	}
	.flownews-posts-type1 article.col-xs-4 {
		height: 180px;
		padding: 10px !important;
	}
	.flownews-posts-type1 .others-element-header .article-image {
		height:160px;
	}
	.flownews-posts-type1 .col-xs-4 .article-info {
		padding: 10px 0 10px 25px;
	}
}
@media screen and (max-width: 700px) {
	/*
	.flownews-posts-type1 .first-element-posts .article-image {
		height:200px;
	}*/
}
@media screen and (max-width: 480px) {
	.flownews-posts-type1 article.col-xs-4 {
		height: 100px;
	}
	.flownews-posts-type1 .others-element-header .article-image {
		height:80px;
	}
}
/*------------------------------------------------------------------
[2. Posts Type 2]
*/
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col {
	margin-left:-12.5px;
	width: calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box {
    height: 35px;
    margin: 0 0 25px 12.5px;
    position: relative;
    text-align: left;
    width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-1-col article,
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col article {
	margin-bottom:25px;
}

.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .vc-element-post-odd {
	padding-right:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .vc-element-post-even {
	padding-left:12.5px!important;
}

.flownews-vc-element-posts.flownews-posts-type2 h3 a {
	font-size: 20px;
    margin: 15px 0 0;
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-1-col h3 a {
	font-size: 32px;
}
.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box.title-box-1 {
	margin-left:12.5px;
	width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(1),
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(3) {
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4 {
    margin: 25px 12.5px 0;
	width: calc(33.3333% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type2 .article-comments, 
.flownews-vc-element-posts.flownews-posts-type2 .article-data, 
.flownews-vc-element-posts.flownews-posts-type2 .article-separator  {
    font-size: 11px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-comments {
	margin-left:12px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-data {
	margin-right:12px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-category a.article-icon-link {
    padding: 6px 8px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-category a.article-icon-link i {
	font-size:9px;
}
.flownews-vc-element-posts.flownews-posts-type2 .article-category a {
	display: block;
	float:left;
}
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type2 .article-image img {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2 .flownews-vc-element-posts-title-box.title-box-1 {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4 {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col {
		margin-left: -12.5px;
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type2 .item-posts.first-element-posts.col-xs-4:nth-child(3) {
		margin-top:25px;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .flownews-vc-element-posts-title-box.title-box-1 {
		width:100%;
		margin-left:0;
	}
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .article-comments {
		display:none;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-3-col .article-separator {
		display:none;
	}
}
@media screen and (min-width: 701px) and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .article-comments {
		display:none;
	}
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .article-separator {
		display:none;
	}
}
@media screen and (max-width: 400px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-1-col h3 a {
		font-size: 20px;
	}	
}
@media screen and (max-width: 550px) {
	.flownews-vc-element-posts.flownews-posts-type2.flownews-vc-posts-2-col .col-xs-6 {
		width: 100%;
		padding:0!important;
	}	
}

/*------------------------------------------------------------------
[3. Posts Type 3]
*/
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-1-col .item-posts.first-element-posts {
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-1-col .item-posts.first-element-posts:first-child {
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-odd {
	padding-right:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-even {
	padding-left:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type3 article h3 a {
	margin-bottom:0;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article {
    margin-right: 25px;
    width: calc(33.33333333% - 25px);
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type3 .article-category a {
	font-size:13px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-category a {
	font-size:10px;
	padding:5px 8px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-info-top {
    margin-top: 12px;
}
.flownews-vc-element-posts.flownews-posts-type3 .flownews-pagination-normal {
    width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width: calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col article h3 a {
	font-size:20px;
	margin-top:15px;
}
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-comments,
.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-separator {
	display:none;
}	
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-odd,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .vc-element-post-even {
		padding-left:0!important;
		padding-right:0!important;
	}
	.flownews-vc-element-posts.flownews-posts-type3 .article-image img {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 701px) and (max-width: 870px) {
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-2-col .article-separator,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .article-separator	{
		display:none;
	}
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width: 100%;
	}	
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4:first-child	{
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type3.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type3 .article-image img {
		width: 100%;
	}	
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
	.flownews-vc-element-posts.flownews-posts-type3 .article-category a {
		font-size:10px;
		padding: 4px 7px;
	}	
}

/*------------------------------------------------------------------
[4. Posts Type 4]
*/
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-1-col .item-posts.first-element-posts {
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-1-col .item-posts.first-element-posts:first-child {
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-odd {
	padding-right:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-even {
	padding-left:12.5px!important;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article {
    margin-right: 25px;
    width: calc(33.33333333% - 25px);
	margin-top: 25px;
	padding-top: 25px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type4 .article-category a {
	font-size:13px;
}
.flownews-vc-element-posts.flownews-posts-type4 .flownews-pagination-normal {
    width: calc(100% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width: calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col article h3 a {
	font-size:20px;
}
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-comments,
.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-separator {
	display:none;
}	
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-odd,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .vc-element-post-even {
		padding-left:0!important;
		padding-right:0!important;
	}
	.flownews-vc-element-posts.flownews-posts-type4 .article-image img {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 701px) and (max-width: 870px) {
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-2-col .article-separator,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-comments,
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .article-separator	{
		display:none;
	}
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width: 100%;
	}	
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col article.item-posts.first-element-posts.col-xs-4:first-child	{
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type4.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type4 .article-image img {
		width: 100%;
	}	
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
	.flownews-vc-element-posts.flownews-posts-type4 .article-category a {
		font-size:10px;
		padding: 4px 7px;
	}	
}

/*------------------------------------------------------------------
[5. Posts Type 5]
*/
.flownews-posts-type5 .article-category {
	display:block;
	position:relative;
	margin-top: 10px;
}
.flownews-vc-element-posts.flownews-posts-type5 .article-title a {
	font-size:18px;
}
.flownews-vc-element-posts.flownews-posts-type5 .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-article-container article:first-child,
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-posts-type5.flownews-vc-posts-1-col .article-info.col-xs-7 {
    padding: 0 0 0 25px!important;
}
.flownews-posts-type5.flownews-vc-posts-2-col .article-info.col-xs-7,
.flownews-posts-type5.flownews-vc-posts-3-col .article-info.col-xs-7 {
    padding: 0 15px!important;
}
.flownews-posts-type5 h3 a {
	margin-top:0;
}
.flownews-posts-type5 .article-info-top {
    margin-top: 0;
}
.flownews-vc-element-posts.flownews-posts-type5 .article-excerpt {
	margin-top: 10px;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .article-title a {
	font-size:28px;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .article-image,
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .article-info.col-xs-7 {
	width:100%;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .article-info.col-xs-7 {
	padding:0!important;
	margin-top:10px;
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width:calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col article {
	margin-right:25px;
	width:calc(33.33333333% - 25px);
}

@media screen and (max-width: 1200px) {
	.flownews-vc-element-posts.flownews-posts-type5 .article-data {
		display:none;
	}
}
@media screen and (max-width: 950px) {
	.flownews-vc-element-posts.flownews-posts-type5 .article-data {
		display:inherit;
	}
	.flownews-vc-element-posts.flownews-posts-type5.item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type5 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type5 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 801px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
}
@media screen and (min-width: 951px) and (max-width: 1024px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .article-title a {
		font-size:22px;
	}
}
@media screen and (max-width: 950px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .flownews-vc-element-posts-article-container article [class*="col-"] {
		width: 100%;
		padding:0!important;
	}
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-1-col .article-image img {
		width: 100%;
		margin-bottom:15px;
	}	
}
@media screen and (max-width: 800px) {
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type5.flownews-vc-posts-3-col article {
		margin-right:25px;
		width:100%;
	}	
	.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-article-container > [class*="col-"] {
		width: 100%;
		padding-top: 25px;
		margin-top:25px;		
	}
	.flownews-vc-element-posts.flownews-posts-type5 .flownews-vc-element-posts-article-container img {
		width:100%;
	}	
}
@media screen and (max-width: 400px) {
	.flownews-vc-element-posts.flownews-posts-type5 .article-data {
		display:none;
	}
}
/*------------------------------------------------------------------
[6. Posts Type 6]
*/
.flownews-vc-element-posts.flownews-posts-type6 .article-title a {
	font-size:28px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .article-title a {
	font-size:24px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .others-post .article-title a {
	font-size:18px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container {
	width:calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col article {
	margin-right:25px;
	width:calc(50% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts {
    padding-top: 25px;
	margin-top:25px;
}
.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:first-child,
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-1-col .flownews-vc-element-posts-article-container article:nth-child(3),  
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2), 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(4), 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(5) {
	border-top:0;
	padding-top:0;
	margin-top:0;
}
.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:first-child, 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(2) {
	margin-bottom:50px;
}

.flownews-posts-type6.flownews-vc-posts-1-col .article-info.col-xs-7 {
    padding: 0 0 0 25px!important;
}
.flownews-posts-type6.flownews-vc-posts-2-col .article-info.col-xs-7,
.flownews-posts-type6.flownews-vc-posts-3-col .article-info.col-xs-7 {
    padding: 0 15px!important;
}
.flownews-posts-type6 .item-posts.first-element-posts .article-info.col-xs-7 h3 a {
	margin-top:0;
}
.flownews-posts-type6 .article-excerpt {
	margin-top:10px;
}
.flownews-posts-type6 .item-posts.first-element-posts .article-info.col-xs-7 .article-info-top {
    margin-top: 0;
}
.flownews-posts-type6 .item-posts.first-element-posts .article-info.col-xs-7 .article-category {
	position:inherit;
	margin-top:10px;
}
.flownews-vc-element-posts.flownews-posts-type6 .article-category a {
	font-size:13px;
}
.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 .article-info.col-xs-7 .article-category a {
	font-size:10px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child,
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
	border-top:0;
	padding-top:0;
	margin-top:0;
	margin-bottom:0;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
	width:calc(100% + 25px);
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col article {
	margin-right:25px;
	width:calc(33.33333333% - 25px);
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .article-title a {
	font-size:18px;
}
.flownews-posts-type6.flownews-vc-posts-3-col .item-posts.first-element-posts.others-post .article-info.col-xs-7 h3 a {
	margin-top:15px;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .article-separator,
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .article-comments {
	display:none;
}
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .others-post .article-image, 
.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .others-post .article-info.col-xs-7 {
	width:100%;
	padding:0!important;
}
@media screen and (max-width: 700px) {
	.flownews-vc-element-posts.flownews-posts-type6.item-posts.first-element-posts:first-child {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:nth-child(2) {
		padding-top: 25px;
		margin-top:-25px;
		margin-bottom:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:nth-child(4) {
		padding-top: 25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-article-container article:nth-child(5) {
		margin-top: 25px;
		padding-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .flownews-vc-element-posts-title-box {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 {
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 {
		width: 100%;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
	.flownews-vc-element-posts.flownews-posts-type6 .others-post .article-title a {
		font-size:22px;
	}	
}
@media screen and (max-width: 1000px) {
	.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts .article-image {
		margin-bottom: 15px;
		width: 100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .item-posts.first-element-posts .article-image img {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6 .article-info.col-xs-7 {
		width:100%;
		padding:0 !important;
	}
}
@media screen and (max-width: 900px) {
	.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 .article-info .article-info-top .article-comments,
	.flownews-posts-type6 .item-posts.first-element-posts.col-xs-6 .article-info .article-info-top .article-separator {
		display:none;
	}
}
@media screen and (max-width: 950px) {
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col article {
		margin-right:0px;
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(4) {
		border-top:0;
		padding-top:0;
		margin-top:0;
	}	
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-2-col .flownews-vc-element-posts-article-container article:nth-child(5) {
		margin-top: 25px;
		padding-top:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container {
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col article {
		margin-right:0px;
		width:100%;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:first-child {
		margin-bottom:25px;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(2),
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		padding-top: 25px;
		margin-top:0px;
		margin-bottom:25px;
		border-top:1px solid #f4f4f4;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .flownews-vc-element-posts-article-container article:nth-child(3) {
		margin-bottom:0px;
	}
	.flownews-vc-element-posts.flownews-posts-type6.flownews-vc-posts-3-col .item-posts.first-element-posts .article-image {
		margin-bottom:0;
	}
}