/*------------------------------------------------------------------
Project:	Flow News - News and Magazine WordPress Theme
Author:	Ad-Theme 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
0. Header General CSS
1. Header Type 1
	1.1 Header Type 1: Responsive
2. Header Type 2
	2.1 Header Type 2: Responsive
3. Header Type 3
	3.1 Header Type 3: Responsive	
*/
/*------------------------------------------------------------------
[0. Header General CSS]
*/
.flownews-vc-element-header article {
	position:relative;
	line-height:1;
}
.flownews-vc-element-header article h2 {
	line-height:1;
}
.flownews-vc-element-header .article-info {
	position:absolute;
	bottom:30px;
	left:30px;
	z-index:2;
	margin-left:0;
	transition: all 0.4s ease 0s;
	right:30px;
	max-width:calc(100% - 45px);
	max-width:-webkit-calc(100% - 45px);
	width:100%;
}
.flownews-vc-element-header article:hover .article-info {
	left:45px;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-header .header-pattern {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.flownews-vc-element-header article img {
	opacity:1;
	transition: all 0.4s ease 0s;
	width:100%;
}
.flownews-vc-element-header article:hover img {
	opacity:0.8;
	transition: all 0.4s ease 0s;
}
.flownews-vc-element-header .article-info-top {
	margin-bottom:15px;
}
.flownews-vc-element-header .article-title {
    float:left;
    margin: 0;
	line-height: 30px;
	margin-right:25px;
}
.flownews-vc-element-header .article-title a {
    font-weight: bold;
    text-transform: uppercase;
	font-size:30px;
	display:block;
}
.flownews-vc-element-header .article-category {
    line-height: 30px;
	float:left;
}
.flownews-vc-element-header .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:4px;
}
.flownews-vc-element-header .article-data,
.flownews-vc-element-header .article-comments,
.flownews-vc-element-header .article-separator {
	float:left;
}
.flownews-vc-element-header .article-data {
	margin-right:20px;
}
.flownews-vc-element-header .article-comments {
	margin-left:20px;
}
.flownews-vc-element-header .article-info-bottom {
    font-size: 13px;
    margin-right: 20px;
	letter-spacing:0.4px;
}
.flownews-vc-element-header .article-info-bottom i {
	margin-right:10px;
}
.flownews-vc-element-header {
	margin-bottom:50px;
}
/*------------------------------------------------------------------
[1. Header Type 1]
*/
.flownews-header-type1 {
	height:400px;
	overflow:hidden;
}
.flownews-header-type1 article {
	height:100%;
	overflow:hidden;
	background:#000000;
}
.flownews-header-type1 article.col-xs-5 {
	height:248px;
	max-width:calc(41.66666667% - 4px);
	max-width:-webkit-calc(41.66666667% - 4px);
	width:41.66666667%;
	margin-left:4px;
	margin-bottom:4px;
}
.flownews-header-type1 article.col-xs-2 {
	height:150px;
	max-width:calc(20.833333335% - 4px);
	max-width:-webkit-calc(20.833333335% - 4px);
	width:20.833333335%;
	margin-left:4px;
}
.flownews-header-type1 .article-info {
	position:absolute;
	bottom:30px;
	left:30px;
	z-index:2;
	margin-left:0;
	transition: all 0.4s ease 0s;
	right:30px;
	max-width:calc(100% - 45px);
	max-width:-webkit-calc(100% - 45px);
	width:100%;
}
.flownews-header-type1 article:hover .article-info {
	left:45px;
	transition: all 0.4s ease 0s;
}
.flownews-header-type1 .header-pattern {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.flownews-header-type1 .article-info-top h2 {
	margin-right:10px;
	margin-bottom:0;
}
.flownews-header-type1 article img {
	opacity:1;
	width: 100%;
	transition: all 0.4s ease 0s;
}
.flownews-header-type1 article:hover img {
	opacity:0.8;
	transition: all 0.4s ease 0s;
}
.flownews-header-type1 .article-info-top {
	margin-bottom:15px;
}
.flownews-header-type1 .article-title {
    float:left;
    margin: 0;
	line-height: 30px;
	margin-right:25px;
}
.flownews-header-type1 .article-title a {
    font-weight: bold;
    text-transform: uppercase;
	font-size:30px;
	display:block;
}
.flownews-header-type1 .article-category {
    line-height: 30px;
	float:left;
}
.flownews-header-type1 .article-category a {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
	display:block;
	line-height:1;
	margin-top:5px;
}
.flownews-header-type1 .article-data,
.flownews-header-type1 .article-comments,
.flownews-header-type1 .article-separator {
	float:left;
}
.flownews-header-type1 .article-data {
	margin-right:20px;
}
.flownews-header-type1 .article-comments {
	margin-left:20px;
}
.flownews-header-type1 .article-info-bottom {
    font-size: 13px;
    margin-right: 20px;
	letter-spacing:0.4px;
}
.flownews-header-type1 .article-info-bottom i {
	margin-right:10px;
}
.flownews-header-type1 .second-element-header .article-title {
	line-height:22px;
}
.flownews-header-type1 .second-element-header .article-title a {
	font-size:22px;
}
.flownews-header-type1 .second-element-header .article-category a {
	margin-top: 3px;
    padding: 4px 10px;
}
.flownews-header-type1 .others-element-header .article-title {
	line-height:16px;
}
.flownews-header-type1 .others-element-header .article-title a {
	font-size:16px;
}
.flownews-header-type1 .others-element-header .article-category a {
	padding: 3px 10px;
	margin-top:7px;
	font-size:8px;
}
/* 
[1.1 Header Type 1: Responsive] 
*/
@media screen and (max-width: 1200px) {
	.flownews-header-type1 {
		height:350px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:220px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:130px;
	}	
}
@media screen and (max-width: 1150px) {
	.flownews-header-type1 {
		height:300px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:180px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:120px;
	}
	.flownews-header-type1 .others-element-header .article-info-bottom {
		display:none;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
	.flownews-header-type1 .others-element-header .article-info {
		bottom:0;
	}
}
@media screen and (min-width: 810px) and (max-width: 1000px) {
	.flownews-header-type1 {
		height:250px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:150px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:100px;
	}
	.flownews-header-type1 .others-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		transition: all 0.4s ease 0s;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
		transition: all 0.4s ease 0s;
	}
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-separator,
	.flownews-header-type1 .second-element-header .article-comments {
		display:none;
	}
}
@media screen and (min-width: 650px) and (max-width: 810px) {
	.flownews-header-type1 {
		height:200px;
	}
	.flownews-header-type1 article.col-xs-5 {
		height:130px;
	}
	.flownews-header-type1 article.col-xs-2 {
		height:70px;
	}
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
	}	
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-info-bottom,
	.flownews-header-type1 .second-element-header .article-category a,
	.flownews-header-type1 .first-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type1 .second-element-header .article-title {
		line-height:14px;
	}
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:14px;
	}
	.flownews-header-type1 .others-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .others-element-header .article-title a {
		font-size:10px;
	}	
}
@media screen and (max-width: 650px) {
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-info-bottom,
	.flownews-header-type1 .second-element-header .article-category a,
	.flownews-header-type1 .first-element-header .article-info-bottom {
		display:none;
	}
}
@media screen and (min-width: 530px) and (max-width: 650px) {
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type1 {
		height:auto;
	}
	.flownews-header-type1 .col-xs-7 {
		width:100%;
		height:250px;
		margin-bottom:4px;
	}
	.flownews-header-type1 article.col-xs-5 {
		width:34%;
		max-width:34%;
		margin-left:0;
		height:80px;
	}
	.flownews-header-type1 article.col-xs-2 {
		max-width:calc(33% - 4px);
		max-width:-webkit-calc(33% - 4px);
		width:33%;
		margin-left:4px;
		height:80px;
	}
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a, 
	.flownews-header-type1 .second-element-header .article-info-bottom,
	.flownews-header-type1 .second-element-header .article-category a,
	.flownews-header-type1 .first-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type1 .second-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:10px;
	}
	.flownews-header-type1 .others-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .others-element-header .article-title a {
		font-size:10px;
	}	
}
@media screen and (min-width: 400px) and (max-width: 529px) {
	.flownews-header-type1 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type1 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type1 {
		height:auto;
	}
	.flownews-header-type1 .col-xs-7 {
		width:100%;
		height:200px;
		margin-bottom:4px;
	}
	.flownews-header-type1 article.col-xs-5 {
		width:100%;
		max-width:100%;
		height:150px;
		margin-bottom:4px;
		margin-left:0;
		margin-right:0;
	}
	.flownews-header-type1 article.col-xs-2 {
		max-width:calc(50% - 2px);
		max-width:-webkit-calc(50% - 2px);
		width:50%;
		height:100px;
		margin-right:2px;
		margin-left:0;
	}
	.flownews-header-type1 article.col-xs-2:last-child {
		margin-left:2px;
		margin-right:0px;
	}	
	.flownews-header-type1 .others-element-header .article-info-bottom,
	.flownews-header-type1 .others-element-header .article-category a {
		display:none;
	}
	.flownews-header-type1 .second-element-header .article-title {
		line-height:22px;
	}
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:22px;
	}
	.flownews-header-type1 .others-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type1 .others-element-header .article-title a {
		font-size:10px;
	}	
}
@media screen and (max-width: 399px) {
	.flownews-header-type1 {
		height:auto;
	}	
	.flownews-header-type1 .col-xs-7,
	.flownews-header-type1 article.col-xs-5, 
	.flownews-header-type1 article.col-xs-2 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}
	.flownews-header-type1 .article-title {
		float:none;
	}
	.flownews-header-type1 .first-element-header .article-title a,
	.flownews-header-type1 .second-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type1 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type1 .article-info-bottom {
		display:none;
	}	
}
/*------------------------------------------------------------------
[2. Header Type 2]
*/
.flownews-header-type2 article {
	background:#000000;
}
.flownews-header-type2 .first-element-header {
	height:500px;
	overflow:hidden;
	margin-bottom:6px;
}
.flownews-header-type2 .others-element-header {
	width:33.33333333%;
	max-width:calc(33.33333333% - 4px);
	max-width:-webkit-calc(33.33333333% - 4px);
}
.flownews-header-type2 article:nth-child(2) {
	margin-right:4px;
}
.flownews-header-type2 article:nth-child(3) {
	margin-right:2px;
	margin-left:2px;
}
.flownews-header-type2 article:nth-child(4) {
	margin-left:4px;
}
.flownews-header-type2 .first-element-header img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.flownews-header-type2  .article-info-top h2 {
	margin-right:10px;
	margin-bottom:5px;
}
.flownews-header-type2 .first-element-header .article-title a {
	font-size:42px;
	line-height:42px;
}
.flownews-header-type2 .first-element-header .article-category a {
	margin-top: 8px;
    padding: 10px 15px;
}
.flownews-header-type2 .others-element-header .article-title {
	line-height:22px;
}
.flownews-header-type2 .others-element-header .article-title a {
	font-size:22px;
}
.flownews-header-type2 .others-element-header .article-category a {
	margin-top: 3px;
    padding: 4px 10px;
}
/* 
[2.1 Header Type 2: Responsive] 
*/
@media screen and (max-width: 1100px) {
	.flownews-header-type2 .others-element-header .article-separator {
		display:none;
	}
	.flownews-header-type2 .others-element-header .article-data,
	.flownews-header-type2 .others-element-header .article-comments	{
		float:none;
		display:block;
		margin:0;
	}
	.flownews-header-type2 .others-element-header .article-comments	{
		margin-top:3px;
	}
}
@media screen and (min-width: 550px) and (max-width: 900px) {
	.flownews-header-type2 .first-element-header {
		height:300px;
	}
	.flownews-header-type2 .others-element-header .article-title {
		line-height:15px;
	}
	.flownews-header-type2 .others-element-header .article-title a {
		font-size:15px;
	}
	.flownews-header-type2 .others-element-header .article-category a {
		padding: 3px 10px;
		margin-top: 8px;
	}
	.flownews-header-type2 .others-element-header .article-info-bottom,
	.flownews-header-type2 .others-element-header .article-category a {
		display:none;
	}	
}
@media screen and (max-width: 549px) {
	.flownews-header-type2 {
		height:auto;
	}	
	.flownews-header-type2 .col-xs-12,
	.flownews-header-type2 article.col-xs-4 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}	
	.flownews-header-type2 .first-element-header img {
		top:0;
		transform:translateY(0);
	}	
	.flownews-header-type2 .article-title {
		float:none;
	}
	.flownews-header-type2 .first-element-header .article-title a,
	.flownews-header-type2 .others-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type2 .article-category a,
	.flownews-header-type2 .first-element-header .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type2 .article-info-bottom {
		display:none;
	}
}
@media screen and (max-width: 850px) {
	.flownews-header-type2 .first-element-header .article-info-bottom {
		display:none;
	}
}
/*------------------------------------------------------------------
[3. Header Type 3]
*/
.flownews-header-type3 .first-element-header {
	height:500px;
	overflow:hidden;
	margin-bottom:6px;
}
.flownews-header-type3 .others-element-header {
	width:33.33333333%;
	max-width:calc(33.33333333% - 4px);
	max-width:-webkit-calc(33.33333333% - 4px);
	height:100px;
	overflow:hidden;
}
.flownews-header-type3 article:nth-child(2) {
	margin-right:4px;
}
.flownews-header-type3 article:nth-child(3) {
	margin-right:2px;
	margin-left:2px;
}
.flownews-header-type3 article:nth-child(4) {
	margin-left:4px;
}
.flownews-header-type3 .first-element-header img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.flownews-header-type3 .first-element-header .article-title a {
	font-size:42px;
	line-height:42px;
	margin-right:10px;
}
.flownews-header-type3 .first-element-header .article-category a {
    margin-top: 8px;
    padding: 10px 15px;
}
.flownews-header-type3 .others-element-header img {
	width:40%;
	float:left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}
.flownews-header-type3 article.others-element-header:hover img{
	opacity:1;
}
.flownews-header-type3 .others-element-header .article-info-type3 {
	width:60%;
	float:left;
	padding:20px;
	box-sizing:border-box;
	height:100%;
}
.flownews-header-type3 .others-element-header .article-info-type3 .article-info-top {
	height:100%;
	overflow:hidden;
}
.flownews-header-type3 .others-element-header .article-title {
	line-height:18px;
	width:100%;
}
.flownews-header-type3 .others-element-header .article-title a {
	font-size:18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:95%;
}
.flownews-header-type3 .others-element-header .article-category a {
	padding: 3px 10px;
	margin-top: 8px;
}
/* 
[3.1 Header Type 3: Responsive] 
*/
@media screen and (min-width: 800px) and (max-width: 900px) {
	.flownews-header-type3 .first-element-header {
		height:300px;
	}
	.flownews-header-type3 .others-element-header {
		height:80px;
	}
	.flownews-header-type3 .others-element-header .article-title {
		line-height:14px;
	}	
	.flownews-header-type3 .others-element-header .article-title a {
		font-size:14px;
	}
}
@media screen and (max-width: 900px) {
	.flownews-header-type3 .others-element-header .article-title {
		margin-bottom:0;
	}
}
@media screen and (max-width: 799px) {
	.flownews-header-type3 .first-element-header {
		height:auto;
	}
	.flownews-header-type3 .first-element-header img {
		top:0;
		transform:translateY(0);		
	}
	.flownews-header-type3 article.col-xs-4 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}
	.flownews-header-type3 .others-element-header img {
		float:none;
		width:100%;
		top:0;
		transform:translateY(0);		
	}
	.flownews-header-type3 .others-element-header .article-info-type3 {
		float:none;
		width:100%;
	}
	.flownews-header-type3 .others-element-header .article-title {
		float:none;
		margin:0;
	}
	.flownews-vc-element-header .article-info-top {
		margin:0;	
	}
	.flownews-header-type3 .first-element-header .article-info-bottom {
		display:none;
	}
}
/*------------------------------------------------------------------
[4. Header Type 4]
*/
.flownews-header-type4.owl-carousel .owl-controls {
	opacity:0;
	transition: opacity 0.3s ease 0s;
	height:0;
	margin:0;
}
.flownews-header-type4 .article-title a {
	margin-right:10px;
}
.flownews-header-type4 .article-info-top h2 {
	margin-bottom:0;
}
.flownews-header-type4.owl-carousel:hover .owl-controls {
	opacity:1;
	transition: opacity 0.3s ease 0s;
}
.flownews-header-type4.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background:none;
}
.flownews-header-type4 .owl-controls i {
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 40px;
}
.flownews-header-type4 .owl-prev i {
	left:0;
}
.flownews-header-type4 .owl-next i {
	right:0;
}
@media screen and (max-width: 600px) {
	.flownews-header-type4 .article-title {
		float:none;
	}
	.flownews-header-type4 .first-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type4 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type4 .article-info-bottom {
		display:none;
	}	
}
@media screen and (max-width: 800px) {
	.flownews-header-type4 .first-element-header .article-info-bottom {
		display:none;
	}
}
/*------------------------------------------------------------------
[5. Header Type 5]
*/
.flownews-header-type5 {
	height:400px;
	overflow:hidden;
}
.flownews-header-type5 article {
	height:100%;
	overflow:hidden;
	background:#000000;
}
.flownews-header-type5 article.col-xs-5 {
	height:198px;
	max-width:calc(41.66666667% - 4px);
	max-width:-webkit-calc(41.66666667% - 4px);
	width:41.66666667%;
	margin-left:4px;
	margin-bottom:4px;
}
.flownews-vc-element-header.flownews-header-type5 .article-category a {
    margin-top: 5px;
    padding: 6px 10px;
}
.flownews-vc-element-header.flownews-header-type5 .article-info-top h2 {
	margin-right:10px;
}
.flownews-vc-element-header.flownews-header-type5 .article-info-top h2 {
	margin-bottom:5px;
}
@media screen and (max-width: 1200px) {
	.flownews-header-type5 {
		height:350px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:175px;
	}
}
@media screen and (max-width: 1100px) {
	.flownews-header-type5 {
		height:300px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:150px;
	}
	.flownews-header-type5 .second-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:20px;
	}	
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:20px;
	}
	.flownews-vc-element-header.flownews-header-type5  .article-category a {
		display:inherit;
	}
	.flownews-vc-element-header.flownews-header-type5 .article-title {
		float:none;
	}
}
@media screen and (max-width: 1100px) {
	.flownews-header-type5 {
		height:300px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:150px;
	}
	.flownews-header-type5 .second-element-header .article-info-bottom {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:20px;
	}	
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:20px;
	}	
}
@media screen and (min-width: 650px) and (max-width: 810px) {
	.flownews-header-type5 {
		height:200px;
	}
	.flownews-header-type5 article.col-xs-5 {
		height:100px;
	}
	.flownews-header-type5 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type5 article:hover .article-info {
		left:10px;
	}	
	.flownews-header-type5 .second-element-header .article-info-bottom,
	.flownews-header-type5 .second-element-header .article-category a {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:14px;
	}
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:14px;
	}
}
@media screen and (max-width: 805px) {
	.flownews-header-type5 .first-element-header .article-info-bottom {
		display:none;
	}
}
@media screen and (min-width: 530px) and (max-width: 650px) {
	.flownews-header-type5 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type5 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type5 {
		height:auto;
	}
	.flownews-header-type5 .col-xs-7 {
		width:100%;
		height:250px;
		margin-bottom:4px;
	}
	.flownews-header-type5 article.col-xs-5 {
		max-width:calc(50% - 2px);
		max-width:-webkit-calc(50% - 2px);
		width:50%;
		margin-right:2px;
		margin-left:0;
		height:80px;
	}
	.flownews-header-type5 article.col-xs-5:last-child {
		margin-left:2px;
		margin-right:0px;
	}	
	.flownews-header-type5 .second-element-header .article-info-bottom,
	.flownews-header-type5 .second-element-header .article-category a {
		display:none;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:10px;
	}
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:10px;
	}	
	.flownews-header-type5 .article-info-bottom {
		display:none;
	}		
}
@media screen and (min-width: 400px) and (max-width: 529px) {
	.flownews-header-type5 .article-info {
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:2;
		margin-left:0;
		right:50px;
	}
	.flownews-header-type5 article:hover .article-info {
		left:10px;
	}		
	.flownews-header-type5 {
		height:auto;
	}
	.flownews-header-type5 .col-xs-7 {
		width:100%;
		height:200px;
		margin-bottom:4px;
	}
	.flownews-header-type5 article.col-xs-5 {
		width:100%;
		max-width:100%;
		height:150px;
		margin-bottom:4px;
		margin-left:0;
		margin-right:0;
	}
	.flownews-header-type5 .second-element-header .article-title {
		line-height:22px;
	}
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:22px;
	}
	.flownews-header-type5 .article-info-bottom {
		display:none;
	}		
}
@media screen and (max-width: 399px) {
	.flownews-header-type5 {
		height:auto;
	}	
	.flownews-header-type5 .col-xs-7,
	.flownews-header-type5 article.col-xs-5, 
	.flownews-header-type5 article.col-xs-2 {
		width:100%;
		max-width:100%;
		height:auto;
		margin: 0 0 4px 0;
	}
	.flownews-header-type5 .article-title {
		float:none;
	}
	.flownews-header-type5 .first-element-header .article-title a,
	.flownews-header-type5 .second-element-header .article-title a {
		font-size:16px;
		line-height:16px;
	}
	.flownews-header-type5 .article-category a {
		padding: 3px 10px;
		margin-top: 7px;
		font-size: 8px;
		display:block;
	}
	.flownews-header-type5 .article-info-bottom {
		display:none;
	}	
}